hello

{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Create a new user and set related properties including the Primary Project and Role." %}</p>
  <script type="text/javascript">
    if (typeof horizon.user !== 'undefined') {
      horizon.user.init();
    } else {
      addHorizonLoadEvent(function() {
        horizon.user.init();
      });
    }
  </script>
{% endblock %}