            {% extends "horizon/common/_modal_form.html" %}
		{% block modal-header %}Jio Cloud{% endblock %}
		{% block form_action %}{% url 'signup' %}{% endblock %}
				{% block form_id %}jcRegistrationFrm{% endblock %}
				{% block form_name %}jcRegistrationFrm{% endblock %}
				{% csrf_token %}
		
		<div id class="login">
			{% block modal-body-right %}
				Description here			
				{%endblock%}
		{% block modal-footer %}
  <button id="loginBtn" type="submit" class="btn btn-primary pull-left">
    Register
    </button> 
{% endblock %}
</div>
						
						