<html>
<head>
    <title>
      Early Request
  </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     {% load staticfiles %}	    
    
    <!-- Stylesheets -->
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/style_old.css' %}" type="text/css" />
    <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="{% static  'jcsregistration/css/retina.css' %}" />
    <!--link rel="stylesheet" href="{% static 'jcsregistration/css/registration/colors.php' %}" type="text/css" / -->
    <link rel="stylesheet" href="{% static 'jcsregistration/css/tipsy.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/css/font-awesome.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/css/prettyPhoto.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/css/rs/css/rs-settings.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/css/pace.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/css/jquery.realperson.css' %}" type="text/css" /><!-- CSS for CAPTCHA -->
    
    <link rel="stylesheet" href="{% static 'jcsregistration/css/responsive.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   
    
    
    <!--External JavaScripts -->

    <script type="text/javascript" src="{% static 'jcsregistration/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jcsregistration/js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'jcsregistration/js/jquery.jiocloud.plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'jcsregistration/js/jquery.jiocloud.revolution.js' %}"></script>
    <script type="text/javascript" src="{% static 'jcsregistration/js/additional-methods.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jcsregistration/js/pace.min.js' %}"></script>
    <!-- Script for Captcha -->	
    <script type="text/javascript" src="{% static 'jcsregistration/js/jquery.plugin.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'jcsregistration/js/jquery.realperson.min.js' %}"></script>
    <!--Script for Captcha -->	
    <script type="text/javaScript">

	$(document).ready(function(){
		$("#defaultReal").realperson({
			chars: $.realperson.alphanumeric,
			length : 5
		});
		//console.log("HASH-VAL "+$("#defaultReal").realperson('getHash'));	
		var myHash = $("#defaultReal").realperson('getHash');
		console.log(myHash);
		$("#gen_hash_num").val(myHash);
		
	});
	
    </script>	
    <style type="text/css">
	#formInput{
		width : 100%;
	}	
	#formInput tr td:nth-child(1){
		width : 20%;
		text-align : right;
		padding-right : 4px;
	}
	#formInput tr td input{
		width : 58%;	
	}
	#formInput tr td.accountReq{
		padding-right : 33%;
	}
	#formInput tr td.accountSignIn{
		padding-right : 50%;
	}
	.contentBox{
		-webkit-box-shadow: 0px 0px 11px 0px rgba(173,173,173,1);
		-moz-box-shadow: 0px 0px 11px 0px rgba(173,173,173,1);
		box-shadow: 0px 0px 11px 0px rgba(173,173,173,1);	
	}
	.container_resize{
		width : 600px;
		padding-top:2%;
	}
	.realperson-challenge{
		width: 40%;
		float:left;
		padding-right : 0px;
		margin-right : 0px;
	}
    </style>	
</head>
<body class="stretched" style="background:none">    
        <div id="content">
            
            <div class="content-wrap">
            
                <!--h4><a class="pull-right container-fluid" href="early_signin.php" style="padding-right:20%">Sign In</a></h4-->    

                <div class="container clearfix contentBox container_resize">
                
                <!-- ============================================
                    Page Content Start
                ============================================= -->

                                        
                    <div class="clear"></div>
                      <center>
			 <img  src="{% static 'jcsregistration/images/JC-V.png' %}" alt="Reliance Jio" />
                         <h2>Request An Account</h2>
                         <div id="demo_request_form-result"></div>
                         <form id="demo_request_form" action="registerUser" method="POST" style="padding-left:22%">
			   <table id="formInput">
				<tr>
					<td>First Name</td>
					<td>
                                 		<input type="text" maxlength="64" name="firstname" id="firstname" placeholder="FIRST NAME">
					</td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td>
                                 		<input type="text" maxlength="64" name="lastname" id="lastname" placeholder="LAST NAME">
					</td>
				</tr>
				<tr>
					<td style="padding-right:10px">Organization</td>
					<td>
                                 		<input type="text" maxlength="64" name="organization" id="organization" placeholder="ORGANIZATION">
					</td>
				</tr>
				<tr>
					<td>Email Address</td>
					<td>
                                		<input type="email" maxlength="64" name="email_id" id="email_id" placeholder="EMAIL ADDRESS">
					</td>
				</tr>
				<tr>
					<td style="padding-top:1%;vertical-align:top">Phone No</td>
					<td>
                          			<div style="height:50px;width:270px" id="phoneContainer">
                            				<input type="text" value="+91" disabled id="country_code" name="country_code" placeholder="COUNTRY CODE" 
								style="display:inline-block;float:left;height:39px;width:35px">
                            				<input type="text" maxlength="10" name="phone_number" placeholder="10 DIGIT PHONE NUMBER" 
								style="display:inline-block;float:left;height:39px;width:182px">
                          			</div>
					</td>	
				</tr>
				<tr>
					<td style="vertical-align:middle">Captcha</td>
					<td>
						<div class="captcha_container">
							<input type="text" name="defaultReal" id="defaultReal" style="width:18%" />
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="accountReq">
                          			<h4>
                          			<input  type="submit" class="simple-button inverse large" 
							style="width:215px;background-color:57B3DF" 
							value="REQUEST AN ACCOUNT"/><br/>
					</td>
				</tr>
				<tr>
					<td colspan="2" class="accountSignIn">						
                				<h4><a class="pull-right container-fluid" href="{{login_url}}" style="padding-right:10%">Sign In</a></h4>    
					</td>
				</tr>
				{% csrf_token %}
			   </table>
			   <input type="hidden" name="gen_hash_num" id="gen_hash_num"/>	
                         </form>
                        <script type="text/javascript">

			  function resetCaptchaValues(){
				$("#defaultReal").realperson('enable');
				$("div.realperson-regen").click();	
				var myHash = $("#defaultReal").realperson('getHash');
				$("#gen_hash_num").val(myHash);
			  };

                          $("#demo_request_form").validate({
                              rules: {
                                firstname: {
                                  required: true,
                                  minlength: 2,
                                  maxlength: 64,
                                  pattern: /^[a-zA-Z\-]+$/
                                },
				lastname: {
                                  required: true,
                                  minlength: 2,
                                  maxlength: 64,
                                  pattern: /^[a-zA-Z\-]+$/
                                },
                                organization: {
                                  required: true,
                                  minlength: 2,
                                  maxlength: 64,
                                  pattern: /^(([A-Za-z0-9])[A-Za-z0-9 ]+)+$/
                                },
                                email_id: {
                                  required: true,
                                  maxlength: 64,
                                  email: true
                                },
                                phone_number: {
                                  required: true,
                                  digits: true,
                                  minlength: 10,
                                  maxlength: 10
                                },
                                defaultReal: {
                                  required: true
                                }
                              },
  			      errorPlacement : function(error,element){
				if(element.attr("name") === "phone_number"){
					error.insertAfter(document.getElementById("phoneContainer"));
				}	
				if(element.attr("name") === "firstname"){
					error.insertAfter(document.getElementById("firstname"));
				}	
				if(element.attr("name") === "lastname"){
					error.insertAfter(document.getElementById("lastname"));
				}	
				if(element.attr("name") === "organization"){
					error.insertAfter(document.getElementById("organization"));
				}	
				if(element.attr("name") === "email_id"){
					error.insertAfter(document.getElementById("email_id"));
				}	
				if(element.attr("name") === "defaultReal"){
					error.insertAfter(document.getElementById("defaultReal"));
				}	
 			      },	
                              messages: {
                                firstname: {
                                  required: 'First Name should have only alphabets without blank space and atleast 2 characters long',
                                  pattern: 'First Name should have only alphabets without blank space and atleast 2 characters long'
                                },
				lastname: {
                                  required: 'Last Name should have only alphabets without blank space and atleast 2 characters long',
                                  pattern: 'Last Name should have only alphabets without blank space and atleast 2 characters long'
                                },
                                organization: {
                                  required: 'Organization Name should be atleast 2 characters.',
                                  pattern: 'Organization Name should have only alphabets and spaces and should not start with a blank space.'
                                },
                                email_id: {
                                  pattern: 'Please enter a valid email address.'
                                },
                                phone_number: {
                                  minlength: 'Please enter 10 digits.',
                                  maxlength: 'Please enter 10 digits.'
                                },
                                defaultReal: {
                                  minlength: 'Please enter at least 5 characters.',
                                  maxlength: 'Please enter at most 5 characters.'
                                }
                              },
                              submitHandler: function(form) {
                                $("#country_code").removeAttr("disabled");
                                Pace.track(function(){
                                $(form).ajaxSubmit({
                                  target: '#demo_request_form-result',
                                  success: function(responseText, statusText, xhr, $form){                           
                                    $('#demo_request_form-result').empty();
                                    var res = $.parseJSON(responseText);
                                    if (res.code === 'ACCEPTED')
                                    {
                                      $('#demo_request_form-result').append('<div class="alert alert-success">Your request has been recorded. You will soon receive an email from us to complete your registration.</div>');
                                      $('#demo_request_form').fadeOut(500);
                                    }
                                    $('#demo_request_form-result').fadeIn(500);
                                  },
                                  error: function(response, status, error){
				    $("#defaultReal").val("");//removing old captcha input value	
                                    if(response.status == 400)
                                    {
                                      $('#demo_request_form-result').empty();
                                      //$("#country_code").attr("disabled", "disabled");
                                      var res = $.parseJSON(response.responseText);
                                      if (res.code === 'LEAD_ALREADY_EXISTS'){
                                        $('#demo_request_form-result').append('<div class="alert alert-error">An early access request was already submitted with the given email address. Please submit using a different email address. Thank you.</div><br/>');
					resetCaptchaValues();
                                      }
                                      if (res.code === 'USER_ALREADY_EXISTS'){
                                        $('#demo_request_form-result').append("<div class='alert alert-error'>An account already exists with this email address. Try logging in <a href='{{login_url}}'>here</a>.</div>");
                                        $('#demo_request_form').fadeOut(500);
					
					resetCaptchaValues();
                                      } 
				      if (res.code === 'TENANT_ALREADY_EXISTS'){
 					$('#demo_request_form-result').append('<div class="alert alert-error">This organisation name is already registered with us. Please use different organisation name. Thank you.</div>');
					
					resetCaptchaValues();
  				      }
                                      if (res.code === 'CAPTCHA'){
                                        $('#demo_request_form-result').append('<div class="alert alert-error">Captcha Image verification failed.</div>');
					
					resetCaptchaValues();
                                      }
                                      if (res.code === 'UNKNOWN_ERROR' || res.code === 'ESB_SERVICE_ERROR'){
                                        $('#demo_request_form-result').append('<div class="alert alert-error">An error occurred. Please try again.</div>');
					
					resetCaptchaValues();
                                      }
                                    }
                                  }
                                });
                              });
                              }
                            });
                        </script>     
                      </center>
                    <div class="clear"></div>
                    

                
                <!-- ============================================
                    Page Content End
                ============================================= -->
                
                </div>
            
            
            </div>
        
        
        </div>


        <!-- ============================================
            Footer
        ============================================= -->
      
        
        
        <div class="clear"></div>
        
        <br><br><br>
</body>
</html>
