<html>
<head>
    <title>
      Validate yourself
  </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    
    {% load staticfiles %}
    
    <!-- Stylesheets -->
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Open+Sans:400,300,600,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'jcsregistration/style.css' %}" type="text/css" />
    <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="css/retina.css" />
    <!--link rel="stylesheet" href="css/colors.php" type="text/css" /-->
    <link rel="stylesheet" href="{%  static 'jcsregistration/css/tipsy.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static 'jcsregistration/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static 'jcsregistration/css/font-awesome.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static 'jcsregistration/css/prettyPhoto.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static 'jcsregistration/css/pace.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static 'jcsregistration/css/rs/css/rs-settings.css' %}" type="text/css" />
    
    
    <link rel="stylesheet" href="{%  static 'jcsregistration/css/responsive.css' %}" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
   
    
    
    <!--External JavaScripts -->

    <script type="text/javascript" src="{%  static 'jcsregistration/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{%  static 'jcsregistration/js/plugins.js' %}"></script>
    <script type="text/javascript" src="{%  static 'jcsregistration/js/jquery.jiocloud.plugins.js' %}"></script>
    <script type="text/javascript" src="{%  static 'jcsregistration/js/jquery.jiocloud.revolution.js' %}"></script>  
    <script type="text/javascript" src="{%  static 'jcsregistration/js/additional-methods.min.js' %}"></script>
    <script type="text/javascript" src="{%  static 'jcsregistration/js/pace.min.js' %}"></script>
</head>
<body class="stretched" style="background:none">  


        <div id="content">
            <div id="page-title">
              <div class="container clearfix">
                  <h1>Validate your registration</h1>
              </div>
            </div>
            <div class="content-wrap">
              <div class="container clearfix">
                <div class="clear"></div>
                  <center>
		    <img  src="/images/JC-V.png" alt="Reliance Jio" />
                    <h2>Complete your registration</h2>
                    <div id="validate-form-result"></div>
                      <form id="validate-form" action="functions/validateUser.php" method="POST">
                       	<input type="hidden" name="name" value="" /> 
                       	<input type="hidden" name="email" value="" />
                       	<input type="hidden" name="phone_number" value="" />

  			<div style="padding-bottom:10px;width:40%">
                                <span>Please enter below the one time password (OTP) sent to your registered phone XXXXXX<span>
                        </div>
 
                        <input type="number" id="otp" name="otp" autofocus placeholder="OTP" style="height:39px;width:270px;">
                        
                        <!--input type="password" id="password" name="password" placeholder="PASSWORD" style="height:39px;width:270px">
                        <input type="password" name="cpassword" placeholder="CONFIRM PASSWORD" style="height:39px;width:270px" -->

                        <div id="terms" style="height:40px;width:270px">
                          <input type="checkbox" id="agreeToTerms" name="agreeToTerms" value="agreeToTerms">I agree to <a target="_blank" href="terms.php">Jio Terms &amp; Conditions.</a>
                        </div>
                        
                        <input type="submit" class="simple-button inverse large" style="width:285px;background-color:57B3DF" name="validate-form-submit" id="validate-form-submit" value="VALIDATE"/><br>
                        
                        
                        
                        <input type="submit" class="simple-button inverse large" style="width:285px;background-color:57B3DF" name="validate-form-otp" id="validate-form-otp" value="RESEND OTP"/><br>
                        
                      </form>
                  </center>
                    <div class="clear"></div>
                        <script type="text/javascript">
                            $(document).ready(function(){

			      	

                              $('#validate-form-otp').click(function(){
                                $('#otp').rules('remove');
                                $('#agreeToTerms').rules('remove');
                              });
                            });
                            $("#validate-form").validate({
                                rules: {
                                  cpassword: {
                                    equalTo: "#password"
                                  },
                                  password: {
                                    pattern: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/
                                  },
                                  otp: {
                                    required: true,
                                    digits: true,
                                    maxlength: 4,
                                    minlength: 4
                                  },
                                  agreeToTerms : {
                                    required : true
                                  }
                                },
                                messages: {
                                  cpassword: {
                                    equalTo: 'The two password fields must match.',
                                  },
                                  otp: {
                                    digits: 'Please enter a 4 digit number.',
                                    required: 'Please enter a 4 digit number.',
                                    maxlength: 'Please enter a 4 digit number.',
                                    minlength: 'Please enter a 4 digit number.'
                                  },
                                  password: {
                                    pattern: 'Password should be at least 8 characters with one upper case alphabet, one lower case alpahbet and a number.'
                                  },
                                  agreeToTerms: {
                                    required: 'Please accept the terms and conditions.'
                                  }
                                },
                                errorPlacement: function(error, element) {
                                  if (element.attr("name") == "agreeToTerms") {
                                    error.insertAfter("#terms");
                                  } else {
                                    error.insertAfter(element);
                                  }
                                },                                
                                submitHandler: function(form) {
                                    Pace.track(function(){ 
                                    $(form).ajaxSubmit({
                                        target: '#validate-form-result',
                                        success: function(responseText, statusText, xhr, $form) {
                                            $('#validate-form-result').empty();
                                            var res = $.parseJSON(responseText);
                                            if (res.code === 'OTP_SENT')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>OTP has been regenerated and sent to your mobile.</div>');
                                              $('#otp').rules('add', {required: true,
                                                                      digits: true,
                                                                      maxlength: 4,
                                                                      minlength: 4
                                              });
                                              $('#agreeToTerms').rules('add', {required: true});
                                            }
                                            if (res.code === 'USER_REGISTERED')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-success">You have successfully completed the registeration process. Please click <a href="<?php echo getConfigVar("dashboard", "url")?>">here</a> to login.</div>');
                                              $('#validate-form').fadeOut(500);
                                            }
                                            $('#validate-form-result').fadeIn(500);
                                        },
                                        error: function(response, status, error) {
                                          if(response.status == 400)
                                          {
                                            $('#validate-form-result').empty();
                                            var res = $.parseJSON(response.responseText);
                                            if (res.code === 'USER_ALREADY_EXISTS')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-error">This user id is already validated. Please try <a href="<?php echo getConfigVar("dashboard", "url")?>">logging in</a>.</div>');
                                            }
                                            if (res.code === 'OTP_CODE_INVALID')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>The OTP entered has either timed out or is wrong.</div>');
                                            }
                                            if (res.code === 'TEMPORARY_ERROR')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>We were not able to process your request due to an unexpected error. Please try again later.</div>');
                                            }
                                            if (res.code === 'OTP_CODE_TIMEOUT')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>The OTP has timed out. Please click on "Resend OTP" to generate a new one.</div>');
                                            }
                                            if (res.code === 'MANDATORY_FIELDS')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>Please <strong>Fill up</strong> all the Fields and Try Again.</div>');
                                            }
                                            if (res.code === 'UNABLE_TO_SEND_OTP')
                                            {
                                              $('#validate-form-result').append('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>We are unable to resend the OTP. Please try again.</div>');
                                            }                                            
                                            $('#validate-form-result').fadeIn(500);
                                          }
                                            
                                        }
                                    });
                                  });  
                                }
                            });
                        </script>                   
                  </div>
            </div>
        </div>

</body>
</html>
