{% load branding i18n %}
{% load url from future %}
{% load context_selection %}

<h1 class="brand"><a href="{% site_branding_link %}">{% site_branding %}</a></h1>

<div class="switcher_bar">
  <div class="dropdown context-selection">
    <button class="btn btn-default btn-topnav dropdown-toggle">
        {% show_overview %}
    </button>
    <div class="dropdown-menu topbar-dropdown-menu">
      <div class="context-lists">
        {% show_domain_list %}
        {% show_project_list %}
        {% show_region_list %}
      </div>
      <div class="footer">
        <!-- Have added a space in the below line for url so that django doesnt render the link. Temporary workaround for JCS-Req remove identity dashboard-->
        <a href="{ % url 'horizon:identity:projects:index' %}">
            <span class="fa fa-list-ul"></span>
            {% trans "More Projects" %}
        </a>
      </div>
    </div><!-- end of dropdown-menu -->
  </div><!-- end of context-selection -->
</div><!-- end of context-box -->

<div id="user_info" class="pull-right">
  <div id="profile_editor_switcher" class="dropdown switcher_bar" tabindex='1'>
    <button class="btn btn-default btn-topnav dropdown-toggle">
      <span class="fa fa-user"></span>
      {{ request.user.username }}
      <span class="caret"></span>
    </button>
    <ul id="editor_list" class="dropdown-menu topbar-dropdown-menu pull-right">
      <li>
        <a href="{% url 'horizon:settings:user:index' %}">
          <span class="fa fa-cog"></span>
          {% trans "Settings" %}
        </a>
      </li>
      {% if HORIZON_CONFIG.help_url %}
        <li>
          <a href="{{ HORIZON_CONFIG.help_url }}" target="_blank">
            <span class="fa fa-question-circle"></span>
            {% trans "Help" %}
          </a>
        </li>
      {% endif %}
      <li class="divider"></li>
      <li>
        <a href="{% url 'logout' %}">
          <span class="fa fa-sign-out"></span>
          {% trans "Sign Out" %}
        </a>
      </li>
    </ul>
  </div>

  {% include "horizon/common/_region_selector.html" %}
</div>

