/*table.center {
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid black;
    border: none;
    width: 80%;
    border-spacing: 10px;
}

label {
    display: block;
}

tr {
   height: 50px;
}*/
input.noborderinput{
border:none;
}

/*input[type="text"]{
	width: 180px;
}

input.smallwidth{
width:10px;
}

div.centerform
{
    margin: 0 auto;
    display: block;
    text-align: center;
}

form
{
    display: inline-block;
    margin:0 auto;
    margin-left: auto;
    margin-right: auto/
    text-align: left;
}*/

td{
    text-align: right;
}

button {
  width:100%;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  height:30px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}
/*
div{
display:inline-block;
}
*/
.name_label{
/*    padding-left: 100px;*/
      margin-right: 100px;
}

.email_label{
    margin-right: 100px;
}

.phone_label{
    margin-right: 100px;
}

.organization_label{
    margin-right: 100px;
}

.account_label{
    margin-right: 100px;
}

.password_label{
    margin-right: 100px;
}

.email_input{
    padding-right: 70px;
    padding-left: 0px;
}

.phone_input{
    padding-right: 70px;
    padding-left: 0px;
}

.organization_input{
    padding-right: 70px;
    padding-left: 0px;
}

.account_input{
    padding-right: 70px;
    padding-left: 0px;
}

.password_input{
    margin-right:30px;
}

