
/*
	1> This css file is for styling Error messages in validation,
	2> Captcha styling
*/

label.error {
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    color: #BD091B;
    margin-bottom: 15px;
}

.realperson-challenge{
    width : 40%; 	
    float:left;
    padding-right : 0px;
    margin-right : 0px;
}

.captcha-style{
	float : right;
	width : 50%;
	padding-left: 0px;
	margin-left : 0px;
	text-align:center;
}

.errorMsg {
    display: block;
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    color: #BD091B;
    margin-bottom: 15px;
    background-color : #FFE4B5;
    padding-left : 2px;	
}

#captchaContainer{
	float : right;
	margin-left : 50%; 
}
