@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'opensansregular';
    ../fonts/OpenSans-Regular/OpenSans-Bold
    src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot);
    src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Regular/OpenSans-Regular.woff) format('woff'),
         url(../fonts/OpenSans-Regular/OpenSans-Regular.ttf) format('truetype'),
         url(../fonts/OpenSans-Regular/OpenSans-Regular.svg#opensansregular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensansbold';
    src: url(../fonts/OpenSans-Regular/OpenSans-Bold.eot);
    src: url(../fonts/OpenSans-Regular/OpenSans-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Regular/OpenSans-Bold.woff) format('woff'),
         url(../fonts/OpenSans-Regular/OpenSans-Bold.ttf) format('truetype'),
         url(../fonts/OpenSans-Regular/OpenSans-Bold.svg#opensansbold) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensanslight';
    src: url(../fonts/OpenSans-Regular/OpenSans-Light.eot);
    src: url(../fonts/OpenSans-Regular/OpenSans-Light?#iefix) format('embedded-opentype'),
         url(../fonts/OpenSans-Regular/OpenSans-Light.woff) format('woff'),
         url(../fonts/OpenSans-Regular/OpenSans-Light.ttf) format('truetype'),
         url(../fonts/OpenSans-Regular/OpenSans-Light.svg#opensanslight) format('svg');
    font-weight: normal;
    font-style: normal;
}

body{font-size:1.4em; font-family: 'opensansregular', Arial, sans-serif; color: #000;}

/* NAVIGATION STARTS*/

.navbar-default { background-color:#FFF;border:none;border-bottom:1px solid #e7e7e7; color: #000;}

.logo{ margin-top: -10px;}

#org{margin-top:-8px; border-left:none; }

.navbar{ margin-bottom: 0px; border-radius: 0px;}

.navbar-nav > li { border-left: 1px solid #EEE;}

.navbar-right{ margin-right: 0px;}

.dropdown-menu {min-width: 120px; border-radius: 0px;}

.fa {padding-right: 10px; font-size: 14px;}

.fa-credit-card{ color:#1b2f6a;}

.fa-user{ color:#0e85c9;}

.fa-globe { color: #4a621f;}

.fa-exclamation {color: #ff2400;}

.fa-cog { color: #4c4c4c;}

.fa-briefcase{color: #6c8754;}

.fa-lock{color:#e73b3b;}

.fa-sign-out{color: #000;}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 10px;
  font-weight: normal;
  width: 15px;
  height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}
body > .header .navbar .nav > li > a:hover > .label {
  top: 3px;
}

/* Add fade animation to dropdown menus */
.open > .dropdown-menu {
  animation-name: fadeAnimation;
  animation-duration: .7s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeAnimation;
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: fadeAnimation;
  -moz-animation-duration: .7s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}
@-webkit-keyframes fadeAnimation {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: 100%;
  }
}

/* NAVIGATION ENDS*/

/* CENTER PANEL STARTS HERE*/

.center-panel{ background-color: #FFF; padding: 25px 15px;}

.panel { border:1px solid #dddddd; border-radius: 0px; /*box-shadow: none;*/ -webkit-box-shadow: 0 1px 0px rgba(0,0,0,0.05); box-shadow: 0 1px 0px rgba(0,0,0,0.05);}

.panel-heading { border-bottom: 1px solid #eee; background-color: #FFF; font-size:1.3em;  }

.panel .panel-heading { padding: 10px 15px;}

.refresh-icon { float:right; padding-top: 5px;}

.panel-body{padding:0px; height: 180px; }

.panel-body ul { list-style-type: none; padding: 0px; margin: 0px; line-height: 25px;}

.panel-footer{ background-color: #FFF;}

.panel-pad {padding:5px 5px 0px 20px;}

.panel-pad-compute {padding:5px 5px 0px 20px; border-left: 1px solid #EEE; height: 180px;}

.panel-pad-jcsdss {padding:5px 5px 0px 20px; background-color: #d9f7ff; border-left: 1px solid #EEE; height: 180px;}

.panel-pad-jcsdss ul{ list-style-type: circle; padding:5px 5px 0px 20px;}

.panel-pad-jcsvpc {padding:5px 5px 0px 20px; background-color: #d9f7ff; border-left: 1px solid #EEE; height: 180px;}

.panel-pad-jcsvpc ul{ list-style-type: circle; padding:5px 5px 0px 20px;}

.panel-pad-documentations {padding:5px 5px 0px 20px; background-color: #d9f7ff; border-left: 1px solid #EEE; height: 180px;}


/* BUTTONS STARTS */

.btn-primary {
  background-color: hsl(201, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0091e0", endColorstr="#006399");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0091e0), to(#006399));
  background-image: -moz-linear-gradient(top, #0091e0, #006399);
  background-image: -ms-linear-gradient(top, #0091e0, #006399);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0091e0), color-stop(100%, #006399));
  background-image: -webkit-linear-gradient(top, #0091e0, #006399);
  background-image: -o-linear-gradient(top, #0091e0, #006399);
  background-image: linear-gradient(#0091e0, #006399);
  border-color: #006399 #006399 hsl(201, 100%, 26.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.23);
  -webkit-font-smoothing: antialiased;
  font-weight: bold;

}

/* BUTTONS ENDS */

/* CENTER PANEL ENDS HERE*/

/* SIDEBAR STARTS HERE*/

#sidebar-wrapper{}

#sidebar-wrapper .col-md-2{ padding-left: 0px; padding-right: 0px; padding: 0px}

#sidebar-wrapper .sectionname {background-color: #6d6d6d;  color:#FFF; padding: 10px;}

#sidebar-wrapper .content { background-color:#fbfbfb; padding: 10px 5px 0px 10px;}

/* SIDEBAR STARTS HERE*/



/* FOOTER SECTION*/

#footer .container{background-color: #5c5c5c; padding: 15px 20px 0px; color: #FFF; width: 100%;}

#footer li{color: #FFF; font-family: 'opensansregular', Arial, sans-serif; padding-left: 25px; text-decoration: none; display: inline;}

#footer li>a{color: #FFF; font-family: 'opensansregular', Arial, sans-serif; padding-left: 25px; text-decoration: none; font-weight: bold;}

#footer li>a:hover{ text-decoration:underline;}

#footer .feedback{ float: right; color: #000; padding:none; margin-top: -8px;}

/* FOOTER SECTION ENDS */