<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}

<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/font-awesome.css' %}" rel= "stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->


</head>

<body>

<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/auth/logout/">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

<nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus/">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->

<section >
<div class="bannercompute">
    <div class="floater1">



</div><!--floater1-->
</div>
</section>


<div id="sidebarpage" data-spy="scroll" data-target=".scrollspy">

<div class="row">
<div class="col-md-2 scrollspy" id="sidebarmenu">
    <ul id="nav" class="nav hidden-xs hidden-sm affix-bottom" data-spy="affix">
      <li ><a href="#benefits">JCS Compute</a></li>
      <li ><a href="#instances">Instances</a></li>
      <li ><a href="#pricing">Pricing</a></li>
      <li ><a href="#faq">FAQs</a></li>
      <li class="active"><a href="#documentation">Documentation</a></li>
    </ul><!-- end of main navigation -->
</div>


<div class="col-md-10 sidebarright">


<!--benefits-->

<section id="benefits" >

<div class="benefitsheader"><h2 class="condensed">JCS Compute</h2>
<p class="gpcontent">JCS Compute provides dynamically scalable compute capacity on demand from JCS Management Console or JCS APIs</p>

</div>

<div style="position: relative;"> 

  <div class="benefitscontainer">
        <div class="row about">
          <div class="col-md-6">
            <div class="about1">
            <img class="pic1Ab" src="{% static 'jcsmarketing/images/jcsc/icon_1.jpg' %}">
              <h4 class="bold">Save that capital for your business!</h4>
              <p>Invest your capital where it makes sense! Your core business. Pay for what you use. Pay less as you use more. Stop paying when you stop using it!</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about2">
            <img class="pic2Ab" src="{% static 'jcsmarketing/images/jcsc/icon_2.jpg' %}">
              <h4 class="bold">Stay ahead of your competition!</h4>
              <p>Leverage the power of cloud to innovate and productize. Provision capacity on-demand and shorten your go to market time!</p>
            </div>
          </div>
        </div>
  </div>

  <div class="horL"></div>

  <div class="benefitscontainer1">
        <div class="row about">
          <div class="col-md-6">
            <div class="about1">
            <img class="pic1Ab" src="{% static 'jcsmarketing/images/jcsc/icon_3.jpg' %}">
              <h4 class="bold">Never lose a customer!</h4>
              <p>Host your websites, applications and databases on a platform that is designed for high availability.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about2">
            <img class="pic2Ab" src="{% static 'jcsmarketing/images/jcsc/icon_4.jpg' %}">
              <h4 class="bold">It’s secured!</h4>
              <p>Have complete control and visibility on your resources inside your Virtual Private Cloud!</p>
            </div>
          </div>
        </div>
  </div>

</div>

</section><!--benefits-->


<!--PRODUCT DETAILS-->

<section id="pricing-jcsc" class="transparent-bg">
                
            <div class="center wow fadeInDown compute-clients-area">
                <h2 class="condensed">JCS Compute Details</h2>
                <p style="text-align:left; padding:0px 20px 0px 40px; margin:40px 40px 30px;">Each and every JCS Compute Instance that you provision, gets provisioned inside an isolated section of JCS Cloud. This isolated section of JCS Cloud is called your Virtual Private Cloud which can be configured for granular network level control and access to your JCS Compute Instances. For complete detail about JCS VPC, <a href="jcsvpc.html">click here</a>.</p>                
            </div>
                        
<section id="freetier1">

<div class="row">

    <div class="col-md-12" >
        <div><h3 style="text-align:center">Getting started with JCS Compute is easy:</h3><br/></div>           

    <ul style="line-height:27px" >
      <li>You must be a registered user of JCS Cloud Services. If you are a new customer, please <a href="signup.html">sign-up</a> for your free JCS Cloud Account today.</li>
      <li>Once you are a registered user, you can use JCS Compute via JCS Management Console or JCS APIs.</li>
      <li>You can select one of the readily available JCS Compute Images and start provisioning JCS Compute Instances inside your default VPC or inside a VPC that you have created. For complete detail about JCS VPC, <a href="/jcsn/">click here</a>.</li>
      <li>As a part of the JCS Compute Instance provisioning wizard, you can mount <a href="/jcssbs/">user volumes</a> on to it to install your applications and databases.</li>
      <li>Once the JCS Compute Instance is provisioned and launched, you can use it just like any other server to provision your website or applications or databases with a public or private IP address.</li>
    </ul>


    </div><!--col-md-12-->

    
    
</div><!--row-->

</section><!--freetier1-->

</section><!--/#productdetails-->





<!--PRODUCT DETAILS-->

<section id="instances" class="transparent-bg">
                
            <div class="center wow fadeInDown compute-clients-area">
                <h2 class="condensed">General Purpose Compute Instances</h2>
                <p class="gpcontent">These JCS Compute Instances are best suited for your web servers, test and development environment and database workloads.</p>                
            </div>
                        
<section id="freetier2">

<div class="row">
                <div class="col-md-3 wow fadeInDown">
                    <div class="text-center">
                        <a href="/compute/"><img src="{% static 'jcsmarketing/images/jcsc/icon_c1.jpg' %}"  alt=""></a>
                        <h3>Small</h3>
                        <p>1 vCPU, 3.75 GB Memory, <br/>5 GB boot volume</p >
                                        
                    </div>
                </div>
                <div class="col-md-3 wow fadeInDown">
                    <div class="text-center">
                        <a href="/jcssbs/"><img src="{% static 'jcsmarketing/images/jcsc/icon_c2.jpg' %}"  alt=""></a>
                        <h3>Medium</h3>
                        <p>2 vCPUs, 7.5 GB Memory, <br/>5 GB boot volume</p>
                        
                    </div>
                </div>
                <div class="col-md-3 wow fadeInDown">
                    <div class="text-center">
                        <a href="/jcsn/"><img src="{% static 'jcsmarketing/images/jcsc/icon_c3.jpg' %}"  alt=""></a>
                        <h3>Large</h3>
                        <p>4 vCPUs, 15 GB Memory, <br/>5 GB boot volume</p>
                        
                    </div>
                </div>
                <div class="col-md-3 wow fadeInDown">
                    <div class="text-center">
                        <a href="/jcsn/"><img src="{% static 'jcsmarketing/images/jcsc/icon_c4.jpg' %}"  alt=""></a>
                        <h3>Extra Large</h3>
                        <p>8 vCPUs, 30 GB Memory, <br/>5 GB boot volume</p>
                        
                    </div>
                </div>
    
</div><!--row-->

</section><!--freetier1-->

</section><!--/#productdetails-->



<!--/COMPUTE FAMILY-->

<section id="computefamily">

<div class="center wow fadeInDown compute-os-area">
                <h2 class="condensed">Operating Systems</h2>
                <div class="row">
                <div class="col-md-9">
                <p class="gpcontent">While we are working on adding more and more operating systems, we currently offer JCS Compute Images with Cent OS and Ubuntu 32 and 64 bit.</p>    </div>
                <div class="col-md-2" style="padding-top:25px"><img src="{% static 'jcsmarketing/images/jcsc/logo_centos.jpg' %}"> </div> 
                <div class="col-md-1" style="padding-top:25px"><img src="{% static 'jcsmarketing/images/jcsc/logo_ubuntu.jpg' %}"> </div>
                </div>  
                           
</div>

</section><!--freetier1-->

<!--/COMPUTE FAMILY-->




<!--PRICING-->

<section id="pricing" class="transparent-bg">
                
            <div class="center wow fadeInDown compute-clients-area">
                <h2 class="condensed">JCS Compute Pricing</h2>
                <p class="computepricing">You pay for only what you use. Pay less as you use more, that is get volume based discounts upon increasing your consumption. Stop paying when you stop using it.<br/><br/>
Depending upon your business requirement, you can choose the required JCS Compute Image from JCS Compute Family.  The hourly prices shown in below table include the cost of operating system and exclude all application taxes and duties unless specified explicitly.<br/><br/>
Hourly billing of JCS Compute Instances start when you first launch and start the JCS Compute Instance and stops when you either terminate or stop the JCS Compute Instance. JCS Compute Instances consumed for partial hours are rounded up for billing purpose.<br/><br/>
</p>                
            </div>
                        


 <div id="freetierpricing"> 
 
 <table class="table table-bordered">
        <thead>
            <tr>
                <th class="tb1"></th>
                <th class="tb1">vCPUs</th>
                <th class="tb1">Memory (GB)</th>
                <th class="tb1">Boot Volume (GB)</th>
                <th class="tb2">Instance Hour Rate</th>                
            </tr>
        </thead>
        <tbody>
          <tr>
                <td colspan="5" style="text-align:left ">General Purpose Compute Instances</td>
                
            </tr>
            <tr>
                <td>Small</td>
                <td>1</td>
                <td>3.75</td>
                <td>5 GB</td>
                <td>Available on Request</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>2</td>
                <td>7.5</td>
                <td>5 GB</td>
                <td>Available on Request</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>4</td>
                <td>15</td>
                <td>5 GB</td>
                <td>Available on Request</td>
            </tr>
            <tr>
                <td>Extra Large</td>
                <td>8</td>
                <td>30</td>
                <td>5 GB</td>
                <td>Available on Request</td>
            </tr>
            
        </tbody>
    </table>
</div> <!--freetierpricing-->

</section><!--/#pricing-->



<!--FAQ -->

<section id="faq" >   
    <div class="faqheader"><h2 class="condensed">JCS Compute FAQ</h2></div>     
            <div class="row">                
                <div class="col-sm-12 wow fadeInDown" style="padding: 0px 50px;">


<table class="table ">
        
        <tbody>
            <tr><td class="bold">What is JCS Compute?</td></tr>
            <tr><td class="padbottom20">JCS Compute is a dynamically scalable compute infrastructure where you can choose to host your websites or applications or databases.</td></tr>
            <tr><td class="bold">What can I do with JCS Compute?</td></tr>
            <tr><td class="padbottom20" >JCS Compute helps you knock off the capital expenditure and time that goes in buying your own hardware and co-locating that in a third party datacentre or your corporate datacentre by providing unlimited on-demand compute capacities on pay-per-use model. You no longer need to plan for peak capacity from day one because JCS Compute can scale up or down based on your business requirement and that too whenever you want. You can use JCS Compute Instances to run your staging environment or mission critical production environment or disaster recovery site on the JCS Cloud platform.<br/> <br/>
Since the nature of service is pay-per-use, you can contract capacities exactly when you need it.. For developers it means flexibility to innovate on an agile cloud platform by using API and Management Console. For businesses, it means no hardware under-utilization costs and no risk of technology obsolescence because you no longer need to invest into hardware and get involved in heavy lifting and shifting of physical servers which are always prone to end of life and elongate time to market.</td></tr>

            <tr><td class="bold">How can I get started with JCS Compute?</td></tr>
            <tr><td class="padbottom20"> If you are an existing customer and already created your JCS Cloud Account then you can click here and <a href="signup.html">sign-in</a> to your account. In case you are not registered then you can <a href="signup.html">sign-up</a> for your free JCS Cloud Account by visiting the Sign-up page. Once you are a registered user with JCS Cloud Services, you can log-in to your JCS Cloud Account and start using the services or alternatively refer to <a href="#">JCS Getting Started Guide</a>.</td></tr>

            <tr><td class="bold">How can I run JCS Compute Instance in JCS Cloud?</td></tr>
            <tr><td class="padbottom20"> Once you are signed into your JCS Cloud Account, you can select the standard templates which are available to spin up instances in JCS Cloud either from JCS Management Console or by calling API to run the instances. You can select the quantity of required number of instances that you want to spin up and start. You can create and start up to 20 instances. In case you need more than 20 then please complete this <a href="signup.html">quick application form</a>.</td></tr>
            
            <tr><td class="bold">How much time does it take to start using the Compute Instance and how can I access and control them?</td></tr>
            <tr><td class="padbottom20"> Provisioning time of Compute Instance can take anywhere between 5 to 10 minutes depending upon the number of instances and type of configuration you choose to select. Once the virtual machine is provisioned, depending upon the OS that you’re running on it, you can SSH into the virtual machine from your laptop or mobile phone. You own that virtual machine as long as you have a live contract for that virtual machine. </td></tr>
            
            <tr><td class="bold">How easy it is and how can I scale up and down as per my business requirement?</td></tr>
            <tr><td class="padbottom20"> You can add or remove as many instances as you want using JCS Management Console or API in minutes. JCS is designed to deliver large scale IT deployments in a truly elastic manner. You need more servers, just launch them! You don’t need the servers anymore, just terminate them and stop paying for them! </td></tr>
            
            <tr><td class="bold">Can I resize my running server (for example from micro to large)?</td></tr>
            <tr><td class="padbottom20"> No. As an alternative we recommend taking a snapshot of your server, terminating the running server, and then launching a new server (bigger/smaller based on the requirement) from the snapshot of the previously running server. </td></tr>
                      
            <tr><td class="bold">Can I bring my own image or sell my image to someone else?</td></tr>
            <tr><td class="padbottom20"> Currently we don’t allow customers bringing their own image or sell it to someone else. </td></tr>
            
            <tr><td class="bold">Are there any charges for data transfer between my servers and the JCS Durable Storage Service (DSS) or JCS Simple Block Storage (SBS)?</td></tr>
            <tr><td class="padbottom20"> There is no charge for data transfer between Compute instances and Object or Block storage in the same region. Currently we have one region in India – IND-WEST-1 (BOM). </td></tr>
            
            <tr><td class="bold">In which region are my servers running?</td></tr>
            <tr><td class="padbottom20"> Currently, we have one region in India – IND-WEST-1. All your servers are running in this region. We have multiple independent facilities inside this region to ensure your applications continue to run smoothly.</td></tr>
            
            <tr><td class="bold">Do the servers have local ephemeral storage?</td></tr>
            <tr><td class="padbottom20"> No. You can use Block Storage or Object Storage for better performance and persistence. With Block Storage you not only get persistence, but also achieve lower latencies in accessing the data. With Object Storage you get better durability and cheaper storage option. </td></tr>
            
            <tr><td class="bold">What happens to my data when the server is terminated or stopped?</td></tr>
            <tr><td class="padbottom20"> The data in the block storage volumes persists independent of the life of your servers until you delete the data yourself. </td></tr>
            
            <tr><td class="bold">What is your Service Level Agreement guarantee for Compute instances?</td></tr>
            <tr><td class="padbottom20"> We are in Private Beta as of now and do not offer any SLA on Compute instances. We do strive for the industry best performance. </td></tr>
            
            <tr><td class="bold">What operating systems and JCS Compute Instance plans are available?</td></tr>
            <tr><td class="padbottom20"> While we are adding new operating systems every day, currently you can choose to spin up a Cent OS and Ubuntu based JCS Compute Instance.  You can pick up the standard available configuration plans: <br/><br/>



<table class="table table-bordered" style="text-align:center">
        <thead>
            <tr>
                <th class="tb1">Instance Type</th>
                <th class="tb1">vCPUs</th>
                <th class="tb1">Memory (GB)</th>                
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td>Small</td>
                <td>1</td>
                <td>3.75 GB</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>2</td>
                <td>7.5 GB</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>4</td>
                <td>15 GB</td>
            </tr>
            <tr>
                <td>Extra Large</td>
                <td>8</td>
                <td>30 GB</td>
            </tr>
            
        </tbody>
</table>

 </td></tr>
            
            
        </tbody>
    </table>
              
                </div><!--/col-sm-12-->

            </div><!--/.row-->

    </section><!--/#faqcontainer-->

<!--FAQ-->



<!--DOCUMENTATION-->

<section id="documentation" class="transparent-bg">
                
                <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">JCS Compute Documentation</h2>
                              
            </div>
            
<div id="docdownload">
<div class="row">

      
      <div class="col-md-10">
        <h2>Getting Started Guide</h2>
        <p>Provides an overview of JCS Compute along with some sample use cases.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>

      <div class="col-md-10">
        <h2>API Reference Guide</h2>
        <p>Describes all the JCS APIs for JCS Compute in detail. Also provides sample requests, responses, errors and suggested ways to use the APIs to perform the operations.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>
      
      
                
                
</div><!--row-->
</div><!--docdownload-->

</section><!--documentation-->




</div><!--col-md-10-->

</div><!--row-->

</div><!--sidebarpage-->

</div>

<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >JCS Cloud Services</h3>
                        <ul>
                            <li><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
    </section><!--/#bottom-->



<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>

<script>
$('#nav').affix({
    offset: {
        top: $('#nav').offset().top
    }
});
</script>

<script>
$('#nav').affix({
  offset: {
    bottom: ($('footer').outerHeight(true) +
            $('.application').outerHeight(true)) +
            90
  }
});
</script>


<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>