<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Jio Cloud Services</title>
    {% load staticfiles %}

    <!-- Bootstrap -->
    <link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- customized -->
    <link href="{% static 'jcsmarketing/css/console.css' %}" rel="stylesheet">

    <!-- font icon -->   
    <link href="{% static 'jcsmarketing/css/font-awesome.min.css' %}" rel="stylesheet" />  

    <!-- HTML5 shim and Respond.js' %} for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js' %} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
    <![endif]-->
  </head>
 <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">

        <div class="navbar-header"><a class="navbar-brand" href="#"><img src="{% static 'jcsmarketing/images/logo.png' %}" class="logo"></a></div>


        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li id="org"><h3><strong>Jio Cloud Services</strong></h3></li>-->
            
          </ul>
          <ul class="nav navbar-nav navbar-right">

            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-envelope-o"></span>
                <span class="label label-success">2</span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#"><span class="fa fa-exclamation"></span>Your account expires on 00/00/00</a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="fa fa-exclamation"></span>You are using 3.2 GB Storage of your 5 GB</a></li>                
              </ul>
            </li>-->
            
            <!--<li><a href="#"><span class="fa fa-credit-card"></span>Billing</a></li>-->
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-user"></span>{{request.user.username}} <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <!--<li><a href="#"><span class="fa fa-briefcase"></span>My Account</a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="fa fa-cog"></span>Settings</a></li>
                <li class="divider"></li>
                <li><a href="#"><span class="fa fa-lock"></span>Security Credentials</a></li>
                <li class="divider"></li>-->
                <li><a href="#"><span class="fa fa-question"></span>Support Centre</a></li>                
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="fa fa-globe"></span>Mumbai <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">          
              </ul>
            </li>

            <li><a href="{% url 'logout' %}"><span class="fa fa-sign-out"></span>Sign out</a></li>

          </ul><!--nav navbar-nav navbar-right-->
        </div><!--/.nav-collapse -->
      </div><!--container-fluid-->
    </nav>



<!-- CONSOLE BODY STARTS HERE-->

<div class="container-fluid">
  <div class="row panelblock">
    <div class="col-md-10 center-panel">

      <div class="col-md-6">

        <section class="panel">

          <header class="panel-heading">
            <form action="#" method = "get" id="computeForm">
              <input type="hidden" name="JCSCompute" value="JCSCompute">
            </form>
            <img src="{% static 'jcsmarketing/images/icon_compute.jpg' %}" /><a href="{% url 'horizon:project:instances:index' %}">JCS Compute</a> 
            <a href="#" onclick="document.getElementById('computeForm').submit()"><img src="{% static 'jcsmarketing/images/refresh.png' %}" class="refresh-icon"/></a>           
          </header>


          <div class="panel-body table-responsive">

                <div class="col-md-6 panel-pad">
                <h5><strong>Elastic Virtual Servers</strong></h5>
                <ul>
                  <li><a href="{% url 'horizon:project:instances:index' %}">{{usage.instances.used|default:0}} Instances running</a></li>
                  <li><a href="/project/access_and_security/?tab=access_security_tabs__floating_ips_tab">{{usage.floating_ips.used|default:0}} Floating IP</a></li>
                  <li><a href="/project/access_and_security/?tab=access_security_tabs__security_groups_tab/">{{usage.security_groups.used|default:0}} Security Groups</a></li>
                </ul>
                </div>

                <div class="col-md-6 panel-pad-compute">
                <h5><strong>Persistent Block Storage</strong></h5>
                <ul>
                  <li><a href="/project/volumes/?tab=volumes_and_snapshots__volumes_tab/">{{usage.volumes.used|default:0}} Volumes</a></li>
                  <li><a href="/project/volumes/?tab=volumes_and_snapshots__snapshots_tab">{{usage.snapshots.used|default:0}} Snapshots</a></li>
                </ul>
                </div>

          </div>

          <div class="panel-footer">
            <a href = "{% url 'horizon:project:instances:launch' %}"><button class="btn btn-primary btn-addon btn-sm"> Launch Instance</button></a>
          </div>

        </section><!--panel-->

      </div> <!-- col-md-6 -->

      <div class="col-md-6">

        <section class="panel">

          <header class="panel-heading">
            <form action="#" method = "get" id="objectForm"> 
              <input type="hidden" name="JCSObjects" value="JCSObjects">
            </form>
            <img src="{% static 'jcsmarketing/images/icon_jcsdss.jpg' %}" /><a href="{% url 'horizon:project:containers:index' %}">JCS Durable Storage Service</a>
            <a href="#" onclick="document.getElementById('objectForm').submit()"><img src="{% static 'jcsmarketing/images/refresh.png' %}" class="refresh-icon"/></a>            
          </header>

          <div class="panel-body table-responsive">

                <div class="col-md-6 panel-pad">
                  <h5><strong>Scalable Object Storage</strong></h5>

                  <ul>
                    <li><a href="{% url 'horizon:project:containers:index' %}">{{usage.containers.used|default:0}} Buckets created</a></li>
                    <li><a href="{% url 'horizon:project:containers:index' %}">{{usage.objects.used|default:0}} Objects</a></li><br/>
                    <li>Total size:{{usage.size.used|default:0}} GB</li>
                  </ul>
                </div>

                <div class="col-md-6 panel-pad-jcsdss">
                  <ul>
                    <li>Highly Scalable</li>
                    <li>Flexible Hosting</li>
                    <li>Secured Server</li>
                    <li>Controlled Web API</li>
                    <li>Highly Networking Capacity</li>
                  </ul>
                </div>

          </div>

          <div class="panel-footer">
            <a href = "{% url 'horizon:project:containers:create' %}"><button class="btn btn-primary btn-addon btn-sm">Create New Bucket</button></a>
          </div>

        </section><!--panel-->

      </div> <!-- col-md-6 -->


      <div class="col-md-6">

        <section class="panel">

          <header class="panel-heading">
            <form action="#" method = "get" id="networkForm">
              <input type="hidden" name="JCSVPCs" value="JCSVPCs">
            </form>
            <img src="{% static 'jcsmarketing/images/icon_jcsvpc.jpg' %}" /><a href="{% url 'horizon:project:networks:index' %}">JCS Virtual Private Cloud</a>
            <a href="#" onclick="document.getElementById('networkForm').submit()"><img src="{% static 'jcsmarketing/images/refresh.png' %}" class="refresh-icon"/></a>
            
          </header>

          <div class="panel-body table-responsive">

                <div class="col-md-6 panel-pad">
                  <h5><strong>Isolated Section in Cloud</strong></h5>

                  <ul>
                    <li><a href="{% url 'horizon:project:networks:index' %}">{{usage.networks.used|default:0}} VPC</a></li>
                    <li><a href="{% url 'horizon:project:networks:index' %}">{{usage.subnets.used|default:0}} Subnets</a></li> 
                  </ul>
                </div>

                <div class="col-md-6 panel-pad-jcsvpc">
                  <ul>
                    <li>Customized IP Selection</li>
                    <li>Provides public facing subnet</li>
                    <li>Multiple layers of Security</li>
                    <li>VPN and VPC Connectivity</li>
                  </ul>
                </div>

          </div>

          <div class="panel-footer">
            <a href = "{% url 'horizon:project:networks:create' %}"><button class="btn btn-primary btn-addon btn-sm">Create New VPC</button></a>
          </div>

        </section>

      </div> <!-- col-md-6 -->

      <div class="col-md-6">

        <section class="panel">

          <header class="panel-heading">
            <img src="{% static 'jcsmarketing/images/icon_jcsdoc.jpg' %}" /><a href="#">Documentations</a>
          </header>

          <div class="panel-body table-responsive">

                <div class="col-md-6 panel-pad">
                <h5><strong>Getting Started with</strong></h5>

                <ul>
                  <li><a href="#">Jio Cloud Services</a></li>
                  <li><a href="#">Management Console</a></li>
                </ul>

                </div>

                <div class="col-md-6 panel-pad-compute">
                <h5><strong>Explore Our Products</strong></h5>

                <ul>
                  <li><a href="#">JCS Compute</a></li>
                  <li><a href="#">Simple Block Storage</a></li>
                  <li><a href="#">Durable Storage Service</a></li>
                  <li><a href="#">Virtual Private Cloud</a></li>
                </ul>

                </div>

          </div>

          <div class="panel-footer">
            <button class="btn btn-primary btn-addon btn-sm">See All Documentations</button>
          </div>

        </section>

      </div> <!-- col-md-6 -->


    </div><!-- col-md-10 -->


    <div id="sidebar-wrapper"  >

        <div class="col-md-2">

        <div class="sectionname">Additional Resources</div>

        <p class="content"><strong>Getting Started </strong><br/>  Cloud computing means storing and accessing data and programs over the Internet instead of your computer's hard drive.<br/><a href="#">Learn more</a>

        <br/><br/><strong>Support Centre </strong><br/>  JCS Support is a one-on-one, fast-response support channel with technical support engineers and experienced customer service professionals provided by JIO Cloud Services.<br/> <a href="#">Learn more</a> OR <a href="#">Raise a Request</a>

        <br/><br/><strong>Security </strong><br/>  Our JCS cloud infrastructure is housed in JCS’s highly secure data centers, which utilize state-of-the art electronic surveillance and multi-factor access control systems.<br/> <a href="#">Learn more</a>

        <br/><br/><strong>Feedback </strong><br/>  Your feedbacks are more valuable for us.<br/> <a href="#">Learn more</a></p>


      </div><!--col-md-2-->
      
    </div><!--sidebar-wrapper-->


  </div>  <!-- row panelblock-->
</div><!--container-fluid -->

<!-- CONSOLE BODY ENDS HERE-->

<!-- FOOTER STARTS HERE-->

    <div id="footer">
      <div class="container">
        <ul>
        <li><a href="#">2008 - 2015, Jio Cloud Services. or its affiliates.</a></li>
        <li><a href="#">All rights reserved</li></a>
        <li><a href="#">Privacy Policy</li></a>
        <li><a href="#">Terms of Use</li></a>
        <li class="feedback btn btn-default">Feedback</li>
        </ul>
      </div>
    </div>

<!-- FOOTER ENDS HERE-->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
    <script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  </body>
</html>