<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}
<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->

    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--li><a href="/profilePage?uuid={{userid}}&xtoken={{XAuthToken}}&name={{name}}">Profile Page</a></li-->
      <li><a href="/profilePage/">Profile Page</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/restyled/loginPage">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->

    <div id="myCarousel" class="carousel slide" data-ride="carousel"> 
      <!-- Indicators -->
      
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
      
        <div class="item active"> <a href="/jcsn/"><img src="{% static 'jcsmarketing/images/img1.jpg' %}" style="width:100%" alt="First slide"></a>
          <div class="container1">
            <div class="carousel-caption">
              <!--<h1>Slide 1</h1>
              <p>Aenean a rutrum nulla. Vestibulum a arcu at nisi tristique pretium.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
            </div>
          </div>
        </div>
        
        <div class="item"> <a href="/jcssbs/"><img src="{% static 'jcsmarketing/images/img2.jpg' %}" style="width:100%" alt="First slide"></a>
          <div class="container1">
            <div class="carousel-caption">
              <!--<h1>Slide 2</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae egestas purus. </p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>-->
            </div>
          </div>
        </div>
        
        <div class="item"><a href="/jcsdss/"> <img src="{% static 'jcsmarketing/images/img3.jpg' %}" style="width:100%" data-src="" alt="Third slide"></a>
          <div class="container1">
            <div class="carousel-caption">
              <!--<h1>Slide 3</h1>
              <p>Donec sit amet mi imperdiet mauris viverra accumsan ut at libero.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
    
        <div class="item"><a href="/compute/"> <img src="{% static 'jcsmarketing/images/img4.jpg' %}" style="width:100%" data-src="" alt="Third slide"></a>
          <div class="container1">
            <div class="carousel-caption">
              <!--<h1>Slide 5</h1>
              <p>Donec sit amet mi imperdiet mauris viverra accumsan ut at libero.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>-->
            </div>
          </div>
        </div>
        
    </div>
    
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span></a> 
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span></a> 
     
    </div>
    
    

</div>
    

<!--OUR PRODUCTS-->

    <section id="products" class="transparent-bg">
        <div class="productcontainer">
        
            <div class="clients-area center wow fadeInDown">
                <h2 class="condensed">Our Products</h2>                
            </div>

            <div id="mainproduct">
              <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="text-center">
                        <a href="/compute/"><img src="{% static 'jcsmarketing/images/icon_p1.jpg' %}"  alt=""></a>
                        <h3 class="product-wrap">COMPUTE</h3>
                        <h4 >On demand, scalable<br/>compute capacity in cloud</h4>
                        <a href="/compute/"><button type="button" class="btn btn-learnmore">Learn more</button></a>                      
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="text-center">
                        <a href="/jcsdss/"><img src="{% static 'jcsmarketing/images/icon_p2.jpg' %}"  alt=""></a>
                        <h3 class="product-wrap">STORAGE</h3>
                        <h4 >Infinitely scalable storage designed for durability, availability and performance</h4>
                        <a href="/jcsdss/"><button type="button" class="btn btn-learnmore">Learn more</button></a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="text-center">
                        <a href="/jcsn/"><img src="{% static 'jcsmarketing/images/icon_p3.jpg' %}"  alt=""></a>
                        <h3 class="product-wrap">NETWORKING</h3>
                        <h4 >Isolated virtual network <br/>in cloud</h4>
                        <a href="/jcsn/"><button type="button" class="btn btn-learnmore">Learn more</button></a>
                    </div>
                </div>
              </div>
           </div>

        </div><!--/.container-->
    </section><!--/#products-->



<!--GETTING STARTED-->

    <section id="gettingstarted" class="transparent-bg">
        <div class="gettingstartedcontainer">
        
            <div class="gs-area center wow fadeInDown">
                <h2 class="condensed">Getting Started</h2>                
            </div>

            <div class="row">
                <div class="col-md-3 wow fadeInDown">
                    <div class="text-center">
                    <h3 class="gettingstarted-wrap condensed">Learn</h3>
                        <a href="/compute/"><img src="{% static 'jcsmarketing/images/home/gs1.jpg' %}"  alt=""></a>
                        
                        <h2 class="gs-text"><a href="/products/">What is <br/>Cloud Computing</a></h2>
                            
                    </div>
                </div>
                <div class="col-md-1 wow fadeInDown">
                    <div class="text-center">
                       <img src="{% static 'jcsmarketing/images/home/gsarrow.jpg' %}" class="gs-arrow"  alt="">
                                               
                    </div>
                </div>
                <div class="col-md-3  wow fadeInDown">
                    <div class="text-center">
                    <h3 class="gettingstarted-wrap condensed">Sign up</h3>
                        <a href="signup.html"><img src="{% static 'jcsmarketing/images/home/gs2.jpg' %}"  alt=""></a>
                       
                        <h2 class="gs-text"><a href="signup.html">Create an <br/>Account for Free</a></h2>
                                          
                    </div>
                </div>
                <div class="col-md-1 wow fadeInDown">
                    <div class="text-center">
                         <img src="{% static 'jcsmarketing/images/home/gsarrow.jpg' %}" class="gs-arrow"  alt="">
                        
                    </div>
                </div>
                <div class="col-md-3 wow fadeInDown">
                    <div class="text-center">
                    <h3 class="gettingstarted-wrap condensed">Launch</h3>
                        <a href="/project/instances"><img src="{% static 'jcsmarketing/images/home/gs3.jpg' %}"  alt=""></a>
                        
                        <h2 class="gs-text"><a href="/project/instances">Store and<br/>Compute in Cloud</a></h2>
                        
                    </div>
                </div>
           </div>

        </div><!--/.container-->
    </section><!--/#gettingstarted-->

<!--FEATURES-->

    <section id="feature" >
        <div class="featurecontainer">
           <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">Features</h2>
                <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="pull-left">
                            <img class="img-responsive" src="{% static 'jcsmarketing/images/icon_f1.png' %}">
                        	</div>
                            <h2 class="f-head bold">Instantly Available</h2>
                            <h3 class="f-content">Provision resources in minutes</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="pull-left">
                            <img class="img-responsive" src="{% static 'jcsmarketing/images/icon_f2.png' %}">
                        	</div>
                            <h2 class="f-head bold">Lower Costs</h2>
                            <h3 class="f-content">Lower OPEX, volume discounts</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="pull-left">
                            <img class="img-responsive" src="{% static 'jcsmarketing/images/icon_f3.png' %}">
                        	</div>
                            <h2 class="f-head bold">Highly Scalable</h2>
                            <h3 class="f-content">Scale up or down dynamically</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="pull-left">
                            <img class="img-responsive" src="{% static 'jcsmarketing/images/icon_f4.png' %}">
                        	</div>
                            <h2 class="f-head bold">Pay As You Go</h2>
                            <h3 class="f-content">No overprovision, No underprovision</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="pull-left">
                            <img class="img-responsive" src="{% static 'jcsmarketing/images/icon_f5.png' %}">
                        	</div>
                            <h2 class="f-head bold">No Upfront Costs</h2>
                            <h3 class="f-content">Zero CAPEX</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <div class="pull-left">
                            <img class="img-responsive" src="{% static 'jcsmarketing/images/icon_f6' %}.png">
                        	</div>
                            <h2 class="f-head bold">Accelerate Innovation</h2>
                            <h3 class="f-content">Continuous Iteration and Innovation</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row-->    
        </div><!--/.container-->
    </section><!--/#feature-->

<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
        
        
        
    </section><!--/#bottom-->


<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>



<!-- Placed at the end of the document so the pages load faster -->


<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>
