<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}

<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->

    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/auth/logout/">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus/">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->

<section >
<div class="bannerjcsdbs">
    <div class="floater1">



</div><!--floater-->

</div>
</section>



<div id="sidebarpage" data-spy="scroll" data-target=".scrollspy">

<div id="sidebarpage" data-spy="scroll" data-target=".scrollspy">

<div class="row">
<div class="col-md-2 scrollspy" id="sidebarmenu">
    <ul id="nav" class="nav hidden-xs hidden-sm affix-bottom" data-spy="affix">
      <li ><a href="#compute">JCS DSS</a></li>
      <li ><a href="#benefits2">Benefits</a></li>
      <li ><a href="#pricing">Pricing</a></li>
      <li ><a href="#faq">FAQs</a></li>
      <li ><a href="#documentation">Documentation</a></li> 
    </ul><!-- end of main navigation -->
</div>


<div class="col-md-10 sidebarright">

<!-- JCS Durable Storage Services -->
<section id="compute" >   
    <div class="computeheader">
    <h2 class="condensed">JCS Durable Storage Service</h2>                
    </div> 
    <div class="row computecontainer">
    	
            
            <div class="col-md-12 ">
            <p>JCS Durable Storage Service (DSS) is the one-stop solution to all your data storage and retrieval needs. It offers you truly scalable, highly available, durable and secure object storage. Accessible through REST APIs and JCS Management Console, JCS DSS can be used to store and retrieve any amount of data anytime from anywhere on the web. There is no minimum fee and no setup cost involved in using JCS DSS.<br/><br/>
            JCS DSS is a stand-alone service which can also be used with other Jio services such as JCS Simple Block Storage (SBS) and JCS Compute. The use-cases for JCS DSS include data backup and archival, cloud-based applications, media-hosting, content distribution, data warehousing, big data analytics and disaster recovery.</p>
            </div>                        
        </div>

</section>

<!--benefits-->

<section id="benefits2" >

<div class="benefitsheader"><h2 class="condensed">JCS Durable Storage Service Benefits</h2></div>

		<div style="position: relative;"> 

  <div class="benefitscontainer">
        <div class="row about">
          <div class="col-md-6">
            <div class="about1">
            <img class="pic1Ab" src="{% static 'jcsmarketing/images/jcsdbs/icon_1.jpg' %}">
              <h3 class="bold">Durable</h3>
              <p>In JCS DSS, you data is redundantly replicated across multiple data centres and on multiple devices in each data centre. We are designed to sustain the concurrent loss of data in multiple devices.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about2">
            <img class="pic2Ab" src="{% static 'jcsmarketing/images/jcsdbs/icon_2.jpg' %}">
              <h3 class="bold">Secure</h3>
              <p>JCS DSS stores your data in India with absolutely no unauthorized access allowed from anywhere in the world ensuring that it is highly secure.</p>
            </div>
          </div>
        </div>
  </div>

  <div class="horL"></div>

  <div class="benefitscontainer1">
        <div class="row about">
          <div class="col-md-6">
            <div class="about1">
            <img class="pic1Ab" src="{% static 'jcsmarketing/images/jcsdbs/icon_3.jpg' %}">
              <h3 class="bold">Available</h3>
              <p>The JCS DSS region is located in India. Hence latency is reduced drastically making your data highly available whenever you need it. It also helps you address all your data regulatory requirements.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about2">
            <img class="pic2Ab" src="{% static 'jcsmarketing/images/jcsdbs/icon_4.jpg' %}">
              <h3 class="bold">Simple to use</h3>
              <p>JCS DSS can be used with help of REST APIs or through easy-to-navigate JCS Management Console. You can refer to the JCS DSS API Guide or JCS Getting Started Guide to know more.</p>
            </div>
          </div>
        </div>
  </div>

</div>

</section><!--benefits-->

<!--PRICING-->

<section id="pricing" class="transparent-bg" style="background-color:#4d4d4d; color:#FFF">
                
            <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">JCS Durable Storage Service Pricing</h2>
                <p class="gpcontent">You pay for only what you use. Depending upon your business requirements, you can scale up or scale down your storage needs and you will be billed only for the amount of storage you use. Pricing details are available on request.</p>                
            </div>
                        
</section>



<!--FAQ -->

<section id="faq" >   
    <div class="faqheader">
      <h2 class="condensed">JCS Durable Storage Service FAQs</h2></div>     
            <div class="row">                
                <div class="col-sm-12 wow fadeInDown" style="padding: 0px 50px;">


<table class="table ">
        
        <tbody>

        <tr><td class="bold">What is JCS Durable Storage Service (DSS)?</td></tr>
        <tr><td class="padbottom20"> JCS DSS is an infinitely scalable, secure, and highly available storage built for the internet scale. You can use JCS DSS to store and retrieve any amount of data anytime from anywhere on the web and easily build scalable and highly available applications that make use of Internet storage.<br/> <br/>
We make web-scale applications easier for everyone with our highly durable and available Object Storage. You pay as you go with no minimum charges or up-front fees. You can store as much data as you want and access it whenever you need it. You can scale up and down as required, dramatically increasing business agility. </td></tr>

        <tr><td class="bold">Why should I use it?</td></tr>
        <tr><td class="padbottom20">With JCS DSS, there is no need for you to forecast your hardware requirements and make provision for it with a risk that it may remain unused or may be insufficient to cater the requests in future. When you use JCS DSS, you don’t need to worry about any capital investment or hardware maintenance and you operational expenditure is also reduced drastically. By using JCS DSS, you can focus on your core business, and leave the operational and scalability concerns to us.
 </td></tr>

        <tr><td class="bold">How can I use it?</td></tr>
        <tr><td class="padbottom20">JCS DSS is an object-based storage system that stores content and metadata as objects. You can use JCS DSS either through JCS Management Console or through the JCS APIs for JCS DSS. The JCS Management Console provides a simple and intuitive web interface for Jio Cloud Services. You can log in using your JCS credentials, and configure, manage and scale your resources with ease and agility. You can also use the JCS APIs for JCS DSS, implemented as a set of Representational State Transfer (REST) web service, to upload, download, and delete your data. You can either use HTTP or HTTPS (recommended for security for data in transit) to make call to the JCS APIs for JCS DSS such as PUT, GET, LIST, DELETE. Please refer to the Getting Started Guide for more details. </td></tr>

        <tr><td class="bold">How can I get started with JCS DSS?</td></tr>
        <tr><td class="padbottom20"> If you have already created your JCS Account, you can get started <a href="signup.html">here</a>. If you do not already have one, you can sign up to JCS <a href="signin.html">here</a>. </td></tr>

        <tr><td class="bold">What kind of data can I store?</td></tr>
        <tr><td class="padbottom20"> You can store any kind of data in any format with each object as large as 5 TB.  </td></tr>

        <tr><td class="bold"> How much data can I store?</td></tr>
        <tr><td class="padbottom20"> The total storage and number of objects you can store are unlimited. Individual objects can range in size from 1 byte to 5 terabytes. The largest object that can be uploaded in a single PUT request is 5 gigabytes. For objects larger than 5 gigabytes, you need to use the Multipart Upload capability. </td></tr>

        <tr><td class="bold">How durable is the storage?</td></tr>
        <tr><td class="padbottom20"> We are designed for highly durable storage. Your data is redundantly stored across multiple data centres and on multiple devices in each data centre. We are designed to sustain the concurrent loss of data in multiple devices. </td></tr>

        <tr><td class="bold">What does Reliance Jio Cloud Services do with my data in JCS DSS?</td></tr>
        <tr><td class="padbottom20"> Jio Cloud Services (JCS) will store your data securely and track its associated usage for metering and billing purposes. We will not otherwise access your data for any purpose outside of the JCS DSS offering, except when required to do so by law. </td></tr>

        <tr><td class="bold">Where is my data stored?</td></tr>
        <tr><td class="padbottom20"> JCS DSS stores data in its IND-WEST-1 region in India. Your data is redundantly stored across multiple data centres and on multiple devices in each data centre in our Indian region. The data never leaves the region it is stored in. </td></tr>

        <tr><td class="bold">How secure is my data?</td></tr>
        <tr><td class="padbottom20">Security is our number one priority. By default, only the bucket and the object owners have access to their data. JCS DSS Support customer authentication to control access to data. We store your data in India with absolutely no unauthorized access allowed from anywhere in the world ensuring that it is highly secure. You can securely upload/download your data to/from JCS DSS via SSL endpoints using the HTTPS protocol. As an additional security measure, we recommend you use Client-side encryption and store encrypted data with us wherever possible. You will manage the whole process of encryption including the encryption keys yourself. </td></tr>

        <tr><td class="bold">Are there any specific limits that apply?</td></tr>
        <tr><td class="padbottom20"> Yes. There are some service related limits that apply to JCS DSS usage. They are:<ul>
<li>Maximum Object Size - 5TB.</li>
<li>Maximum Object Size through a Single PUT Request - 5GB.</li>
<li>Maximum limit of Multipart PUT/Upload Requests - 1000.</li>
<li>No limit on Size of the Bucket.</li>
<li>No limit on the Number of Buckets a Customer may have.</li> </ul></td></tr>

        
        </tbody>
</table>
              
</div><!--/col-sm-12-->

</div><!--/.row-->

 </section><!--/#faqcontainer-->


<!--DOCUMENTATION-->

<section id="documentation" class="transparent-bg">
                
            <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">JCS Durable Storage Service Documentation</h2>
                               
            </div>

<div id="docdownload">
<div class="row">

<div class="col-md-10">
        <h2>Getting Started Guide</h2>
        <p>Provides an overview of JCS Durable Storage Service (DSS) along with some sample use cases.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>

      <div class="col-md-10">
        <h2>API Reference Guide</h2>
        <p>Describes all the JCS APIs for JCS Durable Storage Service (DSS) in detail. Also provides sample requests, responses, errors and suggested ways to use the APIs to perform the operations.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>
      
      
                
                
</div><!--row-->
</div><!--docdownload-->

</section><!--documentation-->





</div><!--col-md-10-->

</div><!--row-->

</div><!--sidebarpage-->

</div>

<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
    </section><!--/#bottom-->




<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>

<script>
$('#nav').affix({
    offset: {
        top: $('#nav').offset().top
    }
});
</script>

<script>
$('#nav').affix({
  offset: {
    bottom: ($('footer').outerHeight(true) +
            $('.application').outerHeight(true)) +
            90
  }
});
</script>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>
