<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}

<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->

    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/auth/logout/">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus/">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->


<section >
<div class="bannerjcsn">
    <div class="floater1">



</div><!--floater1-->
</div>
</section>


<div id="sidebarpage" data-spy="scroll" data-target=".scrollspy">

<div class="row">
<div class="col-md-2 scrollspy" id="sidebarmenu">
    <ul id="nav" class="nav hidden-xs hidden-sm affix-bottom" data-spy="affix">
      <li ><a href="#compute">JCS Networking</a></li>
      <li ><a href="#benefits3">Benefits</a></li>
      <li ><a href="#pricing">Pricing</a></li>
      <li ><a href="#faq">FAQs</a></li>
      <li ><a href="#documentation">Documentation</a></li>
      
    </ul><!-- end of main navigation -->
</div>


<div class="col-md-10 sidebarright">

<!-- JCS Networking -->
<section id="compute" >   
    <div class="computeheader">
    <h2 class="condensed">JCS Networking</h2>
    <p class="gpcontent1">JCS Virtual Private Cloud (VPC) is a logically isolated section of Jio Cloud Services Network in which your JCS Compute instances get provisioned by default. It is not only a secured virtual network isolation but you get the complete control using JCS Management Console and APIs.</p>                
    </div> 
    

</section>

<!--benefits-->

<section id="benefits3" >

<div class="benefitsheader"><h2 class="condensed">JCS Networking Benefits</h2></div>

<div style="position: relative;"> 

  <div class="benefitscontainer">
        <div class="row about">
          <div class="col-md-6">
            <div class="about1">
            <img class="pic1Ab" src="{% static 'jcsmarketing/images//jcsn/icon_1.jpg' %}">
              <h3 class="bold">Architect it!</h3>
              <p>Create subnets to deploy a multi-tier application. Create and modify route tables inside your VPC to enable secured access to public internet.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about2">
            <img class="pic2Ab" src="{% static 'jcsmarketing/images//jcsn/icon_2.jpg' %}">
              <h3 class="bold">Control it!</h3>
              <p>Create Network Access Control Lists and Security Groups to control traffic in and out of your VPC.</p>
            </div>
          </div>
        </div>
  </div>

</div>

</section><!--benefits-->


<!--PRODUCT DETAILS-->

<section id="pricing-jcsc" class="transparent-bg">
                
            <div class="center wow fadeInDown compute-clients-area">
                <h2 class="condensed">JCS Networking Details</h2>
                <p class="gpcontent1">You can customize the network configuration for your JCS VPC. For example, you can create a public-facing subnet for your webservers that has access to the Internet, and place your backend systems such as databases or application servers in a private-facing subnet with no Internet access. You can make use of multiple layers of security, including Security Groups and Network ACLs, to help control access to JCS Compute instances inside your subnets.</p>                
            </div>
                        


<div id="docdownload" style="padding: 0px 40px;">
<div class="row">

    <div class="col-md-12">
        <h2>Subnets</h2>
        <p>You can create subnets inside your JCS VPC with required CIDR blocks. You can then provision JCS Compute instances inside those subnets with various roles. For example, you can create a public subnet and place your web servers in that or you can create a private subnet and place your application and database JCS Compute instances in that.</p>
    </div>      
      
      
      <div class="col-md-12">
        <h2>Route Tables</h2>
        <p>You can create Route Tables inside your JCS VPC and associate them to your subnets as may be required. For example, you can create a Route Table for your WAN traffic and map it to your web JCS Compute instances and you can create another Route Table for your inside facing subnets like your application and database JCS Compute instances.</p>
    </div>      
      
      
      <div class="col-md-12">
        <h2>Security Groups</h2>
        <p>Security Groups are like Virtual Firewall for your JCS Compute instances. You can create one Security Group comprising of “Allow” rules and attach it to multiple JCS Compute instances inside your Virtual Private Cloud or you can create multiple Security Groups for various JCS Compute instances inside your Virtual Private Cloud. For example, you can restrict access to JCS Compute Instance running application server from public internet and allow access only via SSH on port 22 from your local terminal.</p>
    </div>      
      
      
      <div class="col-md-12">
        <h2>Network ACLs</h2>
        <p>Network ACLs, comprising of “Allow” and “Deny” rules, operate at the subnet level and get applied to all the JCS Compute instances inside your Virtual Private Cloud. Network ACLs are processed sequentially in their order of definition while deciding whether to allow the traffic or no.</p>
    </div>      
      
                
                
</div><!--row-->
</div><!--docdownload-->



</section><!--/#productdetails-->


<!--PRICING-->

<section id="pricing" class="transparent-bg" style="background-color:#4b4b4b; color:#FFF">
                
            <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">JCS Networking Pricing</h2>
                <ul style="line-height:27px; text-align:left" >
      <li>There are no extra charges for using JCS Virtual Private Cloud Services.</li>
      <li>You will get billed for JCS Compute instances or any other service that you consume along with that, as per respective rate cards.</li>
      
    </ul>              
            </div>
                        
</section>


<!--FAQ -->

<section id="faq" >   
    <div class="faqheader"><h2 class="condensed">JCS Networking FAQ</h2></div>     
            <div class="row">                
                <div class="col-sm-12 wow fadeInDown" style="padding: 0px 50px;">


<table class="table ">
        
        <tbody>

        <tr><td class="bold">What is JCS VPC?</td></tr>
        <tr><td class="padbottom20"> JCS VPC is an isolated section of Jio Cloud Services (JCS) network in which your JCS Compute instances get launched by default. Compute and storage resources of each customer are provisioned in a separate virtual network on JCS Network. It is not only a secured virtual network isolation but you get the complete control using JCS Management Console and APIs. You by default get only a private IPv4 address assigned to your JCS Compute Instance. You can then configure security groups on them, configure subnets and network gateways.<br/><br/> For example, for public facing workloads, you can request and configure a public subnet and for internal facing workloads, you can create and configure a private subnet.</td></tr>

<tr><td class="bold">What type of IP addresses my servers receive when I spin them up?</td></tr>
        <tr><td class="padbottom20">Giving security paramount importance, your JCS Compute instances by default receive only private IPv4 address which is routable only within the VPC. No JCS Compute Instance receives a public IPv4 address by default.</td></tr>

<tr><td class="bold">Can I ask for public IPv4 addresses?</td></tr>
        <tr><td class="padbottom20"> Yes, at the time of launching the server or even later, you can ask for a public IPv4 address in addition to the default private IPv4 address. Public IPv4 addresses do not go back to our pool and remain associated with your account after you have stopped or terminated your servers, until you release the public IPv4 address back to our pool. You can assign and re-assign them to your JCS Compute instances.<br/><br/>
Public IPv4 address are associated with your JCS account, not a particular JCS Compute Instance, and it remains associated with your account until you choose to explicitly release it.<br/><br/>
If a JCS Compute Instance goes down due to some reason, you can launch a new server and associate the existing public IPv4 address to this new running server. This way you don’t require any changes in your application. In an undue event of host failure, you can remap the public IPv4 to a healthy node. <br/><br/>
If the public IPv4 address is not associated with any running instance, we ask you to release the public IPv4 address and help us conserve the scarce resource.
</td></tr>

<tr><td class="bold">Are there any limits that apply?</td></tr>
        <tr><td class="padbottom20">

<table class="table table-bordered" style="text-align:center">
        <thead>
            <tr>
                <th class="tb1">Parameter</th>
                <th class="tb1">Limit</th>
                                
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td>VPCs per Region</td>
                <td>5</td>
                
            </tr>
            <tr>
                <td>Subnets per VPC</td>
                <td>200</td>
                
            </tr>
            <tr>
                <td>Route tables per VPC</td>
                <td>200</td>
                
            </tr>
            <tr>
                <td>Entries per route table</td>
                <td>50</td>
                
            </tr>

            <tr>
                <td>Security Groups per VPC</td>
                <td>100</td>
                
            </tr>
            <tr>
                <td>Rules per Security Group</td>
                <td>50</td>
                
            </tr>
            <tr>
                <td>Network ACLs per VPC</td>
                <td>200</td>
                
            </tr>
            <tr>
                <td>Rules per Network ACL</td>
                <td>20</td>
                
            </tr>
            
        </tbody>
</table>

        </td></tr>

<tr><td class="bold">How do I get started with using JCS VPC?</td></tr>
        <tr><td class="padbottom20"> The services that you contract for with JCS Cloud, by default get provisioned inside a ready-to-use default VPC. You can use VPC wizard to create and configure more VPCs inside your Jio Cloud Account. Further you can create, configure and manage VPN gateway, routing table, subnets and security groups inside the VPC. For more information, refer VPC section of the Getting Started with JCS guide. </td></tr>

        <tr><td class="bold">What is a subnet inside a JCS VPC?</td></tr>
        <tr><td class="padbottom20"> A subnet is a sub-section of your VPC which an isolated section of network on JCS Cloud Network. Public Subnet would mean instances with Floating Public IPv4 address attached. Private Subnet would mean instances with only Private IPv4 address attached. </td></tr>


        <tr><td class="bold">What are route tables in JCS VPC?</td></tr>
        <tr><td class="padbottom20">A route table is a set of rules that are used to determine where the network traffic is directed. Your VPC automatically comes up with the main route table. Each subnet inside the VPC should be associated with a route table. If you don't explicitly associate a subnet with a particular route table, the subnet uses the main route table. </td></tr>


        <tr><td class="bold">What is a Network ACL?</td></tr>
        <tr><td class="padbottom20"> Network ACL (NACL) is the second layer of security from JCS Compute Instance (first one being security groups) which acts like a virtual firewall for controlling traffic in and out of a subnet. Like Security Groups, you can configure NACLs to have this optional layer of security for your subnets inside the JCS VPC. The NACLs that you configure at the subnet level get applied sequentially and automatically to all the JCS Compute instances inside VPC. </td></tr>

<tr><td class="padbottom20 accordionheader"> Billing</td></tr>

        <tr><td class="bold">How will I be charged for using JCS VPC?</td></tr>
        <tr><td class="padbottom20">There are no additional usage charges for using the VPC. Rates as published in the rate card for respective services shall be applicable. Like for example, you will be billed for your compute instances’ hourly usage and bandwidth usage if you used a JCS Compute Instance to host your website.</td></tr>


        </tbody>
</table>
              
</div><!--/col-sm-12-->

</div><!--/.row-->

 </section><!--/#faqcontainer-->



<!--DOCUMENTATION-->

<section id="documentation" class="transparent-bg">
                
            <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">JCS Networking Documentation</h2>
                      
            </div>

<div id="docdownload">
<div class="row">

      
      <div class="col-md-10">
        <h2>Getting Started Guide</h2>
        <p>Provides an overview of JCS Networking along with some sample use cases.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>

      <div class="col-md-10">
        <h2>API Reference Guide</h2>
        <p>Describes all the JCS APIs for JCS Networking in detail. Also provides sample requests, responses, errors and suggested ways to use the APIs to perform the operations.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>
      
      
                
                
</div><!--row-->
</div><!--docdownload-->

</section><!--documentation-->



</div><!--col-md-10-->

</div><!--row-->

</div><!--sidebarpage-->

</div>

<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
    </section><!--/#bottom-->


<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>

<script>
$('#nav').affix({
    offset: {
        top: $('#nav').offset().top
    }
});
</script>

<script>
$('#nav').affix({
  offset: {
    bottom: ($('footer').outerHeight(true) +
            $('.application').outerHeight(true)) +
            90
  }
});
</script>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>
