<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}

<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->

    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/auth/logout/">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus/">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->

<section >
<div class="bannerjcssbs">
    <div class="floater1">



</div><!--floater1-->
</div>
</section>


<div id="sidebarpage" data-spy="scroll" data-target=".scrollspy">

<div class="row">
<div class="col-md-2 scrollspy" id="sidebarmenu">
    <ul id="nav" class="nav hidden-xs hidden-sm affix-bottom" data-spy="affix">
      <li ><a href="#compute">JCS SBS</a></li>
      <li ><a href="#benefits1">Benefits</a></li>
      <li ><a href="#pricing">Pricing</a></li>
      <li ><a href="#faq">FAQs</a></li>
      <li ><a href="#documentation">Documentation</a></li> 
    </ul><!-- end of main navigation -->
</div>


<div class="col-md-10 sidebarright">


<!-- JCS Simple Block Storage -->
<section id="compute" >   
    <div class="computeheader">
    <h2 class="condensed">JCS Simple Block Storage</h2>                
    </div> 
    <div class="row computecontainer">
    	      
            <div class="col-md-12 ">
            <p>When customers boot their JCS Compute instances, JCS Simple Block Storage (SBS) provides boot volumes to host the operating system. Also, while customers are running their applications on Compute instances, JCS SBS provides an option of storing data as persistent blocks in user volumes. This allows customers to terminate the Compute instances when not in use, but still not lose the associated data. Customers can attach user volumes to servers at any point in time, and can even attach multiple user volumes to the same server. JCS Simple Block Storage volumes are accessible only from JCS Compute instances.<br/><br/>
            Block volumes behave like raw, unformatted block devices, with user supplied device names and a block device interface. Customers can create a file system on top of the volumes, or use them in any other way one would use a block device (like a hard drive).<br/><br/>
          Each block volume is automatically replicated to provide high durability. Simple Block Storage also provides the ability to create point-in-time snapshots of volumes. These snapshots can be used as the starting point for new block store volumes, and protect data for long-term durability. The same snapshot can be used to instantiate multiple volumes.</p>
            </div>                        
        </div>

</section>

<!--benefits-->

<section id="benefits1" >

<div class="benefitsheader"><h2 class="condensed">JCS Simple Block Storage Benefits</h2></div>

<div style="position: relative;"> 

  <div class="benefitscontainer">
        <div class="row about">
          <div class="col-md-6">
            <div class="about1">
            <img class="pic1Ab" src="{% static 'jcsmarketing/images//jcssbs/icon_1.jpg' %}">
              <h3 class="bold">Scalable Storage</h3>
              <p>JCS SBS is instantly available and highly scalable. You can get multiple block volumes and choose the size of each block volume from 1GB to 1TB according to your needs</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about2">
            <img class="pic2Ab" src="{% static 'jcsmarketing/images//jcssbs/icon_2.jpg' %}">
              <h3 class="bold">Performance</h3>
              <p>JCS SBS provides high performance and is suitable for applications requiring strong consistency, low latency, and high Input-Output Operations per second such as transactional databases</p>
            </div>
          </div>
        </div>
  </div>

  <div class="horL"></div>

  <div class="benefitscontainer1">
        <div class="row about">
          <div class="col-md-6">
            <div class="about1">
            <img class="pic1Ab" src="{% static 'jcsmarketing/images//jcssbs/icon_3.jpg' %}">
              <h3 class="bold">Persistent Storage</h3>
              <p>JCS SBS block volumes persist beyond the life of Compute instances and you can reuse the data stored on a SBS block volume by attaching it to any Compute Instance</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about2">
            <img class="pic2Ab" src="{% static 'jcsmarketing/images//jcssbs/icon_4.jpg' %}">
              <h3 class="bold">Durability and Snapshots</h3>
              <p>We store multiple copies of your data and SBS block volumes are highly durable. You can also take point-in-time snapshots of your volumes and create new SBS volumes from the snapshots</p>
            </div>
          </div>
        </div>
  </div>

</div>

</section><!--benefits-->



<!--PRICING-->

<section id="pricing" class="transparent-bg" style="background-color:#4b4b4b; color:#FFF">
                
            <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">JCS Simple Block Storage Pricing</h2>
                <p class="gpcontent">You pay for only what you use. Depending upon your business requirement, you can choose the required number of JCS SBS block volumes and their sizes (<a href="#limits">limits</a> apply). You are billed on per GB basis only for the amount of storage you use. Pricing details are available on request</p>                
            </div>
</section>                   
<!--FAQ -->

<section id="faq" >   
    <div class="faqheader"><h2 class="condensed">JCS Simple Block Storage FAQ</h2></div>     
            <div class="row">                
                <div class="col-sm-12 wow fadeInDown" style="padding: 0px 50px;">


<table class="table ">
        
        <tbody>

        <tr><td class="bold">What is JCS Simple Block Storage (SBS)?</td></tr>
        <tr><td class="padbottom20"> JCS Simple Block Storage (SBS) provides persistent block volumes that can be used with JCS compute instances. Block volumes can be from 1 GB to 1 TB in size. </td></tr>

                <tr><td class="bold">What are typical use cases for SBS?</td></tr>
        <tr><td class="padbottom20"> SBS offers low latency and high input output operations per second (IOPS) and is suitable for use cases such as transactional databases. Block storage volumes are accessible only through the JCS compute instances.
 </td></tr>

                <tr><td class="bold">How do I use a SBS volume that I create?</td></tr>
        <tr><td class="padbottom20"> Once you create a volume, you need to attach it to a compute instance you have created. Now, the volume will be seen as an additional drive in the compute instance. This drive will be persistent, i.e. even if the compute instance is terminated, the volume will be available for use with another compute instance. </td></tr>

                <tr><td class="bold">What is the difference between boot volume and user volume?</td></tr>
        <tr><td class="padbottom20"> Functionally there is no difference. Both boot volume and user volume comes from JCS Simple Block Storage. Boot volume is created as part of compute instance creation. It hosts operating system and compute instance boots up using the boot volume. Boot volume cannot be detached or deleted while compute instance is running. Boot volume can be detached when compute instance is stopped. However boot volume has to be reattached in order to start the compute instance. <br/><br/>
User volumes are additional block volumes created by user for data. Boot volumes can be used for this purpose as well. It is completely optional to use the user volumes. User volumes can be detached from a compute instance while it is running. User volumes persist independently from the life of a compute instance. </td></tr>

                <tr><td class="bold">What will happen to boot volume once compute instance is terminated?</td></tr>
        <tr><td class="padbottom20"> Boot volume gets deleted once compute instance is terminated. We advise you not to store on the boot volume any data that you need beyond the life of a compute instance. Instead, create a user volume and store data on it. </td></tr>

                <tr><td class="bold">Can multiple compute instances access a single SBS volume?</td></tr>
        <tr><td class="padbottom20"> No, a volume can be associated with only one compute instance at a given time. You can always detach the volume from one compute instance and attach to another compute instance. </td></tr>

                <tr><td class="bold">Can a compute instance access multiple SBS volumes?</td></tr>
        <tr><td class="padbottom20"> Yes, your compute instances can be attached to multiple SBS volumes at the same time. </td></tr>
                <tr><td class="bold">How do I create a snapshot of a SBS volume?</td></tr>
        <tr><td class="padbottom20"> You can create a snapshot while the block volume is attached to the compute instance.
In order to prevent any data loss, we advise you to first detach volume from the compute instance and then take a snapshot of the volume. This will ensure that there is no loss or corruption of data during the snapshot process. Once the snapshot is successful, attach the volume. </td></tr>

                <tr><td class="bold">Are snapshots versioned?</td></tr>
        <tr><td class="padbottom20"> Yes. Customers can take multiple point-in-time snapshots of a SBS volume and each snapshot can be uniquely identified. Volumes can be created from any of the snapshots. </td></tr>

                <tr id="limits"><td class="bold">Are there any limits that apply?</td></tr>
        <tr><td class="padbottom20"> Yes. Below limits apply.
                                <ul>
<li>Minimum size of a SBS user volume is 1GB.</li>
<li>Maximum size of a SBS user volume is 1TB.</li>
<li>Using APIs, customers can get a SBS user volume of any size from 1GB to 1TB.</li> <li>Using console, currently available SBS user volume sizes are 1GB, 10GB, 100GB, and 1TB. </li>
<li>Boot volume is offered with a fixed size of 5GB.</li>
<li>Maximum number of SBS volumes allowed per customer account is 100.</li>
<li>Maximum number of snapshots allowed per customer account is 200.</li>
<li>Maximum number of block volumes that can be attached to a compute instance is 20.</li></ul> </td></tr>


        </tbody>
</table>
              
</div><!--/col-sm-12-->

</div><!--/.row-->

 </section><!--/#faqcontainer-->


<!--FAQ-->





<!--DOCUMENTATION-->

<section id="documentation" class="transparent-bg">
                
            <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">JCS Simple Block Storage Documentation</h2>
                            
            </div>

<div id="docdownload">
<div class="row">

      
      <div class="col-md-10">
        <h2>Getting Started Guide</h2>
        <p>Provides an overview of JCS Simple Block Storage (SBS) along with some sample use cases.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>

      <div class="col-md-10">
        <h2>API Reference Guide</h2>
        <p>Describes all the JCS APIs for JCS Simple Block Storage (SBS) in detail. Also provides sample requests, responses, errors and suggested ways to use the APIs to perform the operations.</p>
    </div>      
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-html">HTML</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="#"><button type="button" class="btn btn-pdf">PDF</button></a></div>
      </div>
      
      
                
                
</div><!--row-->
</div><!--docdownload-->

</section><!--documentation-->


</div><!--col-md-10-->

</div><!--row-->

</div><!--sidebarpage-->

</div>

<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
    </section><!--/#bottom-->


<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>

<script>
$('#nav').affix({
    offset: {
        top: $('#nav').offset().top
    }
});
</script>

<script>
$('#nav').affix({
  offset: {
    bottom: ($('footer').outerHeight(true) +
            $('.application').outerHeight(true)) +
            90
  }
});
</script>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>
