<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}

<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->

    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/auth/logout/">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus/">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->

<section >
<div class="bannerpricing">
    <div class="floater1">



</div><!--floater-->

</div>
</section>

<div id="sidebarpage" >

<div class="row">


<!-- JCS Compute -->
<!--PRICING-->

<section id="pricing" class="transparent-bg">
                
            <div class="center wow fadeInDown compute-clients-area">
                
                <p class="computepricing">You pay for what you use. Pay less as you use more, that is get volume based discounts upon increasing your consumption. Stop paying when you stop using it. In Cloud, you move from the model of CAPEX, higher OPEX to zero CAPEX, lower OPEX.<br/><br/> Pricing is available on request.<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>                
            </div>
 


</div>

<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
    </section><!--/#bottom-->


<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>

<script>
$('#nav').affix({
    offset: {
        top: $('#nav').offset().top
    }
});
</script>

<script>
$('#nav').affix({
  offset: {
    bottom: ($('footer').outerHeight(true) +
            $('.application').outerHeight(true)) +
            90
  }
});
</script>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>
