<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services - Products</title>
{% load staticfiles %}

<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->

<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->

    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/auth/logout">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus/">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->

<section >
<div class="bannerproduct">
    <div class="floater1">



</div><!--floater-->

</div>
</section>




 


<!-- JCS Compute -->
<section id="productpage" >   
 
<div class="row productpagecontainer">
    <div class="col-md-2 ">
    <img  class="mtop" src="{% static 'jcsmarketing/images/icon_p1.jpg' %}"/>
    </div>

        <div class="col-md-8">
        <h2><a href="/compute/" style="text-decoration:none">JCS Compute</a></h2>
        <p>JCS provides compute capacity in Cloud. Customers can utilize as much or as less capacity as they want. With JCS Compute, there is no need for customers to forecast the hardware requirement or manage the supply chain, and deal with undifferentiated heavy lifting of buying and configuring servers. Customers can focus on their core business and leave the rest to JCS.</p>
        </div>              
        <div class="col-md-2 productpagelinks">      
            <ul class="list-unstyled">        
            <li><a href="/compute/">Overview</a></li>
            <li><a href="/compute/#pricing">Pricing</a></li>
            <li><a href="/compute/#faq">FAQs</a></li>
            <li><a href="/compute/#documentation">Documentation</a></li>              
            </ul>
        </div>          
</div>
<hr class="hrsmall"/>


<div class="row productpagetitle" >
    <div class="col-md-12">
        <div><h2>Storage</h2><br/></div>            
    </div><!--col-md-12-->
</div>

<div class="row productpagecontainer1">
    <div class="col-md-2 ">
    <img  class="mtop" src="{% static 'jcsmarketing/images/icon_p2.jpg' %}"/>
    </div>
    
        <div class="col-md-8">
        <h2><a href="/jcssbs/" style="text-decoration:none">JCS Simple Block Storage</a></h2>
        <p>When customers are running their applications on JCS Compute instances, JCS Simple Block Storage (SBS) provides an option of storing data in persistent blocks in the form of volumes. This allows customers to terminate the instances when not in use, but still not lose the associated data. Customers can attach multiple volumes to the same instance, take point-in-time snapshots of volumes and create new volumes from snapshots.</p>
        </div>              
        <div class="col-md-2 productpagelinks">      
            <ul class="list-unstyled">        
            <li><a href="/jcssbs/">Overview</a></li>
            <li><a href="/jcssbs/#pricing">Pricing</a></li>
            <li><a href="/jcssbs/#faq">FAQs</a></li>
            <li><a href="/jcssbs/#documentation">Documentation</a></li>               
            </ul>
        </div>          
</div>

<div class="row productpagecontainer2">
    <div class="col-md-2 ">
    <img  class="mtop" src="{% static 'jcsmarketing/images/icon_p2a.jpg' %}"/>
    </div>

        <div class="col-md-8">
        <h2><a href="/jcsdss/" style="text-decoration:none">JCS Durable Storage Service</a></h2>
        <p>JCS Durable Storage Service (DSS) is an infinitely scalable, durable, secure, and highly available storage built for the internet scale. It is the object-based storage system that stores content and metadata as objects. You can use DSS to store and retrieve any amount of data from anywhere on the web. Using the JCS APIs for DSS, you can easily build scalable and highly available applications that make use of Internet storage.</p>
        </div>              
        <div class="col-md-2 productpagelinks">      
            <ul class="list-unstyled">        
            <li><a href="/jcsdss/">Overview</a></li>
            <li><a href="/jcsdss/#pricing">Pricing</a></li>
            <li><a href="/jcsdss/#faq">FAQs</a></li>
            <li><a href="/jcsdss/#documentation">Documentation</a></li>        
            </ul>
        </div>          
</div>
<hr class="hrsmall"/>
<div class="row productpagecontainer3">
    <div class="col-md-2 ">
    <img  class="mtop" src="{% static 'jcsmarketing/images/icon_p3.jpg' %}"/>
    </div>

        <div class="col-md-8">
        <h2><a href="/jcsn/" style="text-decoration:none">JCS Networking</a></h2>
        <p> JCS provides virtual network isolation by default through its Virtual Private Cloud (VPC) offering. Each customer's resources are provisioned in a separate virtual network, which is a logically isolated section of JCS cloud. Customers have complete control over who accesses their instances. Customers can set the inbound and outbound security rules and can open the ports to allow only certain type of communication coming in and going out.</p>
        </div>              
        <div class="col-md-2 productpagelinks">      
            <ul class="list-unstyled">        
            <li><a href="/jcsn/">Overview</a></li>
            <li><a href="/jcsn/#pricing">Pricing</a></li>
            <li><a href="/jcsn/#faq">FAQs</a></li>
            <li><a href="/jcsn/#documentation">Documentation</a></li>          
            </ul>
        </div>          
</div>

</section>



<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
    </section><!--/#bottom-->


<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>
