<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}
<link href="{% static 'jcsmarketing/css/custom.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">
<!-- Left nav -->
    <div class="navbar-header">
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>
    <!-- Right nav -->
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <li><a href="/profilePage/">Profile Page</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/restyled/loginPage">Signout</a></li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
<!--NAV MENU STARTS-->
    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
	<h3 align="center">Profile Information</h3>
    </nav>
<!--  JSF support portal code starts from here -->
	<br/><br/>
	<!-- ************************************************* UPDATE NAME ************************************************************* -->
	<div class="centerform">	
	<form id="updateNameForm" action="../updateName/" method="POST">
	<table align="center">
	<tr>
                <td><label class="name_label">Name: </label></td>
                <td><input class="noborderinput" id="name" name="name" type="text" value="{{name}}" readonly></td>
		<td><span style="color:red;" id="namevalidation"></span></td>
                <td><a href="" onclick="return hidename();">Edit</a></td>
        </tr>
	<tr id="namesavebuttons" style="display:none;">
		<td><button id="savename" type="submit" onclick="return validateName();">Save</button></td>
                <td><button onclick="return cancel1();">Cancel</button></td>
                <td><input class="smallwidth" type="hidden" id="hiddenurl" name="hiddenurl" value="{{userNaam}}"></td>
                {% csrf_token %}
	</tr>
	</table>
	</form>
	</div>
	<!-- ************************************************* UPDATE PHONE ************************************************************* -->
	<br/><br/>
	<div class="centerform">
	<form id="updatePhoneForm" action="../updateName/" method="POST">
	<table align="center">
        <tr>
                <td><label class="phone_label">Phone Number: </label></td>
                <td class="phone_input"><input class="noborderinput" id="phoneno" type="text" value="{{phoneno}}" readonly></td>
                <td><a href="" onclick="return hidephone();">Edit</a></td>
        </tr>
        <tr id="phonesave" style="display:none;">
                <td><label class="phone_label">Enter New Number: </label></td>
                <td class="phone_input"><input id="newphoneno" name="newphoneno" type="text"></td>
		<td><button type="button" id="sendotpBtn" onclick="return validatePhone();">SendOTP</button></td>
        </tr>
	<tr><td><span style="color:red;" id="phonevalidation"></span></td></tr>
	<tr id="otpbuttons" style="display:none;">
                       <td><input type="text" name="otp" id="otp" placeholder="OTP"></td>
                       <td><button type="button" id="verifyOTP_btn" onclick="verifyOTP()">Verify</button></td>
                       <td><button type="button" id="resendOTP_btn" onclick="return validatePhone();">Resend OTP</button></td>
		       <td><p style="color:red;font-style: italic;" id="otpmessage" name="otpmessage"></p></td>
		       <td><input type="text" name="otpsent" id="otpsent"></td>
        </tr>
	<tr id="phonesavebuttons" style="display:none;">
		<td><button id="savephone" type="submit" disabled>Save</button></td>
                <td><button onclick="return cancel2();">Cancel</button></td>
                <td><input class="smallwidth" type="hidden" id="hiddenurl" name="hiddenurl" value="{{userNaam}}"></td>
                {% csrf_token %}
	</tr>
        </table>
	</form>
	</div>
	<!-- ************************************************* UPDATE EMAIL ************************************************************* -->
	<br/><br/>
	<div class="centerform">
	<form id="updateEmailForm" action="../updateEmail/" method="POST">
	<table align="center">
	<tr>
                <td><label class="email_label">Email Address: </label></td>
                <td class="email_input"><input class="noborderinput" id="emailid" type="text" value="{{userNaam}}" readonly></td>
                <td><a href="" onclick="return hideemail();">Edit</a></td>
        </tr>
        <tr id="emailsave" style="display:none;">
                <td><label class="email_label">Enter New Email Address: </label></td>
                <td class="email_input"><input id="newemailid" name="newemailid" type="text"></td>
		<td><button type="button" id="sendEmailBtn" onclick="return validateEmail();">SendEmail</button></td>
        </tr>
	<tr><td><span style="color:red;" id="emailvalidation"></span></td></tr>
        <tr id="emailotpbuttons" style="display:none;">
                       <td><input type="text" name="emailotp" id="emailotp" placeholder="OTP"></td>
                       <td><button type="button" id="verifyEmailOTP_btn" onclick="verifyEmailOTP()">Verify</button></td>
                       <td><button type="button" id="resendEmailOTP_btn" onclick="return validateEmail();">Resend Email</button></td>
                       <td><p style="color:red;font-style: italic;" id="emailotpmessage" name="emailotpmessage"></p></td>
                       <td><input type="text" name="emailotpsent" id="emailotpsent"></td>
        </tr>
	<tr id="emailsavebuttons" style="display:none;">
		<td><button id="saveemail" type="submit" disabled>Save</button></td>
                <td><button onclick="return cancel3();">Cancel</button></td>
                <td><input class="smallwidth" type="hidden" id="hiddenurl" name="hiddenurl" value="{{userNaam}}"></td>
                <td><input class="smallwidth" type="hidden" id="hiddenuserid" name="hiddenuserid" value="{{userid}}"></td>
                <td><input class="smallwidth" type="hidden" id="hiddenXAuthToken" name="hiddenXAuthToken" value="{{XAuthToken}}"></td>
                {% csrf_token %}
	</tr>
	</table>
	</form>
	</div>
	<!-- ************************************************* UPDATE PASSWORD ************************************************************* -->
	<br/><br/>
	<div class="centerform">
	<form id="updatePasswordForm" action="../updatePassword/" method="POST">
	<table align="center">
	 <tr>
                <td><label class="password_label">Password: </label></td>
                <td><input class="noborderinput password_input" id="password" type="password" value="abhishek" readonly></td>
                <td><a href="" onclick="return hidepassword();">Edit</a></td>
        </tr>
        <tr id="passwordsave" style="display:none;">
                <td><label class="password_label">Enter New Password: </label></td>
                <td><input class="password_input" id="newpassword" name="newpassword" type="password"></td>
        </tr>
	<tr id="passwordsavebuttons" style="display:none;">
		<td><button id="savepassword" type="submit">Save</button></td>
                <td><button onclick="return cancel4();">Cancel</button></td>
                <td><input class="smallwidth" type="hidden" id="hiddenurl" name="hiddenurl" value="{{userNaam}}"></td>
                {% csrf_token %}
	</tr>
	</table>
	</form>
	</div>
	<!-- ************************************************* DISPLAY ORGANIZATION ************************************************************* -->
	<br/><br/>
	<div class="centerform">
	 <table align="center">
	 <tr>
                <td><label class="organization_label">Organization: </label></td>
       	        <td class="organization_input"><input class="noborderinput" type="text" value="Reliance Jio" readonly></td>
        </tr>
	</table>
	</div>
	<!-- ************************************************* DISPLAY ACCOUNTNO ************************************************************* -->
	<br/><br/>
	<div class="centerform">
	 <table align="center">
	 <tr>
                <td><label class="account_label">Account ID: </label></td>
                <td class="account_input"><input class="noborderinput" type="text" value="{{accountname}}" readonly></td>
        </tr>
	</table>
	</div>

<!-- JSF support portal codes ends here -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'jcsmarketing/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/additional-methods.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/jquery.form.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/customJavascript.js' %}"></script>
<script src="{% static 'jcsmarketing/js/aes.js' %}"></script>

<!-- Modal Pop-Up for Ajax Call -->
<div id="ajaxLoader" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
                        <div class="progress-bar progress-bar-striped active"
                             role="progressbar"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:100%">
                                <span class="sr-only">100% Complete</span>
                        </div>
                </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Pop-Up for Ajax Call -->
</body>
</html>
