<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
{% load staticfiles %}

<link href="{% static 'jcsmarketing/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/Jiostyle.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/jquery.smartmenus.bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsmarketing/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'jcsmarketing/css/responsive.css' %}" rel="stylesheet">  
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js' %}"></script>
      <script src="../bower_components/respond/dest/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->

    
    <div class="navbar-header">				
    <a class="navbar-brand" href="/jcs-home/"><img src="{% static 'jcsmarketing/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>

    <!-- Right nav -->
    
    <ul class="nav navbar-nav navbar-right">
      <li class="btn_console"><a href="/console/">My Console</a></li>
      <!--<li><a href="#">My Account</a></li>-->
      <li><a href="/auth/logout/">Signout</a></li>
      
    </ul>

  </div><!--/.nav-collapse -->
</div>

<!--NAV MENU STARTS-->

    <nav class="mainmenunavbar mainmenunavbar-inverse" role="banner">
                <div class="container mainmenu">
                   
<ul class="nav navbar-nav">
      <li><a href="#banner"><i class="glyphicon glyphicon-menu-hamburger"></i><span style="padding-left:10px">Menu</span></a>
        <ul class="dropdown-menu">
              <li><a href="/products/">Product</a>          
              <ul class="dropdown-menu">
              <li class="dropdown-header">Our Products</li>
                  <li><a href="/compute/">JCS Compute</a>
                      <ul class="dropdown-menu">
                      <li><a href="/compute/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/compute/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcssbs/">JCS Simple Block Storage</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcssbs/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcssbs/#documentation">Documentation</a></li>
                      </ul>
                   </li>
                      <li class="divider"></li>
                  <li><a href="/jcsdss/">JCS Durable Storage Service</a>
                      <ul class="dropdown-menu">
                      <li><a href="/jcsdss/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsdss/#documentation">Documentation</a></li>
                      </ul>
                  </li>
                      <li class="divider"></li>
                  <li><a href="/jcsn/">JCS Networking</a>
                  	   <ul class="dropdown-menu">
                      <li><a href="/jcsn/">Overview</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#pricing">Pricing</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#faq">FAQs</a></li>
                      <li class="divider"></li>
                      <li><a href="/jcsn/#documentation">Documentation</a></li>
                      </ul>
                   </li>                      
              </ul>
          </li>
          <li class="divider"></li>
          <li><a href="/pricing/">Pricing</a></li>
          <li class="divider"></li>
          <li><a href="/support/">Support</a></li>
          <li class="divider"></li>
          <li><a href="/contactus/">Contact us</a></li>
           
        </ul>
      </li>
    </ul>
                    <div class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/jcs-home/">Home</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>                                                
                        </ul>
                    </div>
                </div><!--/.container-->
    </nav>

<!--CAROUSEL STARTS-->

<section >
<div class="bannersupport">
    <div class="floater1">



</div><!--floater-->

</div>
</section>


<!-- Support Center -->
<section id="support" >
   
        <div class="supportheader">
        <h2 class="condensed">Support Center</h2>                
        </div>           
    
        <div class="row">
        <div class="col-md-9 supportcentercontainer">
        <p>Jio Cloud Services (JCS) Support is a fast-response support channel that is staffed with technical support engineers and experienced customer service professionals who help you get the most from the services and features provided by Jio Cloud Services. In addition to engineers, JCS also provides documents for various services – both high level overview and detailed. To help you better understand the services along with their use cases, we have also provided the frequently asked questions for each service we offer.<br/><br/>

JCS provides two tiers for support – basic tier which comes by default free for you, and the business tier which you can buy for a small monthly fee. The business tier offers an unlimited number of support cases with pay-by-the-month pricing and no long-term contracts. Customers that don’t select the JCS Business tier will continue to have access to JCS Basic tier, offered at no additional charge, which includes Service FAQs, and Documentation.<br/><br/>

With JCS Business Support tier, as your JCS charges grow, you earn volume discounts on your JCS Support costs.
</p>
        </div>            
            <div class="col-md-3 btn-download">
            <button type="button" class="btn btn-learnmore" style="margin-top:70px">Raise a Request</button>
            </div>
    </div>

</section>




<!--DOCUMENTATION-->
 
<section id="documentation1" class="transparent-bg" style="background-color:f0fdff; padding:0px 100px;">
                
                <div class="center wow fadeInDown clients-area">
                <h2 class="condensed">Resources</h2>
                              
            </div>
            
<div id="docdownload">
<div class="row">

      
      <div class="col-md-9">
        <h2>JCS Compute</h2>
        <p>JCS Compute provides dynamically scalable compute capacity on demand from JCS Management Console or JCS APIs</p>
    </div>      
      <div class="col-md-2 docbutton">      
      <div class="btn-download"><a href="/compute/#documentation"><button type="button" class="btn btn-html">Documentation</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="/compute/#faq"><button type="button" class="btn btn-pdf">FAQs</button></a></div>
      </div>

      <div class="col-md-9">
        <h2>JCS Simple Block Storage (SBS)</h2>
        <p>JCS SBS provides persistent block storage for JCS Compute instances</p>
    </div>      
      <div class="col-md-2 docbutton">      
      <div class="btn-download"><a href="/jcssbs/#documentation"><button type="button" class="btn btn-html">Documentation</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="/jcssbs/#faq"><button type="button" class="btn btn-pdf">FAQs</button></a></div>
      </div>

      <div class="col-md-9">
        <h2>JCS Durable Storage Service (DSS)</h2>
        <p>JCS DSS provides infinitely scalable storage designed for durability, availability and performance</p>
    </div>      
      <div class="col-md-2 docbutton">      
      <div class="btn-download"><a href="/jcsdss/#documentation"><button type="button" class="btn btn-html">Documentation</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="/jcsdss/#faq"><button type="button" class="btn btn-pdf">FAQs</button></a></div>
      </div>

      <div class="col-md-9">
        <h2>JCS Networking</h2>
        <p>JCS VPC is a logically isolated section of Jio Cloud Services Network in which your JCS Compute instances get provisioned by default</p>
    </div>      
      <div class="col-md-2 docbutton">      
      <div class="btn-download"><a href="/jcsn/#documentation"><button type="button" class="btn btn-html">Documentation</button></a></div>
      </div>
      <div class="col-md-1 docbutton">      
      <div class="btn-download"><a href="/jcsn/#faq"><button type="button" class="btn btn-pdf">FAQs</button></a></div>
      </div>
      
      
                
                
</div><!--row-->
</div><!--docdownload-->

</section><!--documentation-->




<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/pricing/">Pricing</a></li>
                            
                            <li><a href="/support/">Support</a></li>
                            <li><a href="/contactus/">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_li.jpg' %}" class="social">LinkedIn</a></li>
                            <li ><a href="#"><img src="{% static 'jcsmarketing/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
    </section><!--/#bottom-->


<script src="{% static 'jcsmarketing/js/jquery.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>
<script>
   $(function(){
      // Initializes the carousel
      $(".start-slide").click(function(){
         $("#myCarousel").carousel('cycle');
      });
      // Stops the carousel
      $(".pause-slide").click(function(){
         $("#myCarousel").carousel('pause');
      });
      // Cycles to the previous item
      $(".prev-slide").click(function(){
         $("#myCarousel").carousel('prev');
      });
      // Cycles to the next item
      $(".next-slide").click(function(){
         $("#myCarousel").carousel('next');
      });

   });
</script>

<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'jcsmarketing/js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'jcsmarketing/js/bootstrap.min.js' %}"></script>

<!-- SmartMenus jQuery plugin -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.js' %}"></script>

<!-- SmartMenus jQuery Bootstrap Addon -->
<script type="text/javascript" src="{% static 'jcsmarketing/js/jquery.smartmenus.bootstrap.js' %}"></script>

</body>
</html>
