<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/custom.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->    
    <div class="navbar-header">				
    <a class="navbar-brand" href="index.html"><img src="{% static 'jcsregistration/images/restyled/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>
<!-- Right nav -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Contact us</a></li>
      <li><a href="loginPage">Sign in</a></li>      
    </ul>
  </div><!--/.nav-collapse -->
</div>

<!--SIGN IN-->

    <section id="signin" class="transparent-bg">
        <div class="signincontainer">
        
            
            <div id="signinproduct">
              <div class="row">
                <div class="col-md-4" style="margin-right:40px">
                    <div>
                         
<h4 style="line-height:25px">Sign in to your account</h4>
     <div id="demo_request_form-result" style="color:#B22222;font-style:italic;font-size:80%"></div><!-- This div is to capture the validation and ajax response message -->
<!--	{% if code == '400' %}
	<div>
	<label style="color:red;right:10px">Invalid Username and Password</label>
	</div>
	{% endif %}-->
    <form class="signinpadding" id="demo_request_form" action="../Login" method="POST">
	<div>
	 {% if code == 'LOGIN_FAILED' %}
        <label style="color:#B22222;font-style:italic">Invalid Username and Password</label>
        {% endif %}
	</div>
        
       
        <div class="form-group">            
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="E-mail address">
        </div>

        <div class="form-group">            
        <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password">
        </div>

        <h5><a href="#">Lost your password?</a></h5>

        <!--<div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
        </div>

        <div class="checkbox">
        <label><input type="checkbox"> Keep me updated via e-mail</label>
        </div>-->

        <button type="submit" class="btn btn-primary">Sign in</button>
        <button type="button" class="btn btn-default" id="cancelBtn">Cancel</button>
	
	{% csrf_token %}
    </form>


                    </div>
                </div>
                <div class="col-md-3">
                    <div class="signincenterbg">
                    <h4 style="line-height:25px">New to JCS? </h4>
                    <h5 style="line-height:25px">Create an account to get started today.&nbsp;&nbsp;<a href="loadRegister">Sign-up</a> here <br/></h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="signinrightbg">
                      <a href="#"><img src="{% static  'jcsregistration/images/restyled/images/feature.jpg' %}"></a>
                        
                    </div>
                </div>
              </div>
           </div>

        </div><!--/.container-->
    </section><!--/#products-->
    
<!--FOOTER-->

<section id="bottom">
<div class="bottomcontainer">
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="widget">
            <h3>About us</h3>
            <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
        </div>    
    </div><!--/.col-md-6 col-sm-6-->
    <div class="col-md-3 col-sm-6">
        <div class="widget">
        <h3 >Jio Cloud Services</h3>
            <ul>
            <li><a href="products.html">Products</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="support.html">Supports</a></li>
            <li><a href="contactus.html">Contact us</a></li>
            </ul>
        </div>    
    </div><!--/.col-md-3-->

    <div class="col-md-3 col-sm-6">
        <div class="widget">
            <h3>Go Social</h3>
            <ul>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_li.jpg' %}" class="social">Linkedin</a></li>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_rss.jpg' %}" class="social">RSS</a></li>
            </ul>
        </div>    
    </div><!--/.col-md-3-->

</div>
</div>
</section><!--/#bottom-->
<script src="{% static 'jcsregistration/js/restyled/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/additional-methods.min.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/jquery.form.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/bootstrap.min.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/customJavascript.js' %}"></script>

<!-- Modal Pop-Up for Ajax Call -->
<div id="ajaxLoader" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="progress">
                        <div class="progress-bar progress-bar-striped active"
                             role="progressbar"
                             aria-valuenow="100"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             style="width:100%">
                                <span class="sr-only">100% Complete</span>
                        </div>
                </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Pop-Up for Ajax Call -->
</body>
</html>
