<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/custom.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/custom-style.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'jcsregistration/css/jquery.realperson.css' %}" type="text/css" /><!-- CSS for CAPTCHA -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->    
    <div class="navbar-header">				
    <a class="navbar-brand" href="index.html"><img src="{% static 'jcsregistration/images/restyled/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>
<!-- Right nav -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Contact us</a></li>
      <li><a href="loginPage">Sign in</a></li>      
    </ul>
  </div><!--/.nav-collapse -->
</div>

<!--SIGN IN-->
    <section id="signin" class="transparent-bg">
        <div class="signincontainer">
            <div id="signinproduct">
              <div class="row">
                <div class="col-md-4" style="margin-right:40px">
                    <div>
                         
	<h4 style="line-height:25px">New to JCS? <br/>Create an account to get started today</h4>
    
    <div id="demo_request_form-result"></div><!-- This div is to capture the validation and ajax response message -->
    
    <form class="signinpadding" id="demo_request_form" action="../registerUser" method="POST">

        <div class="form-group">
          <div class="row">
            <div class="col-md-6"><input type="text" name="firstname" class="form-control" id="firstname" placeholder="First name"></div>
            <div class="col-md-6"><input type="text" name="lastname" class="form-control" id="lastname" placeholder="Last name"></div>
          </div>
        </div>
        <div class="form-group">            
        <input type="text" class="form-control" id="organization" name="organization" maxlength="64" placeholder="Organization">
        </div>
        <div class="form-group">            
        <input type="email" class="form-control" id="email_id" placeholder="E-mail address" name="email_id">
        </div>
        <div class="form-group">
	<input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="Mobile number" onkeyup="phoneNumberSync()">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">		
		<!--<div><input type="text" class="form-control captcha-style" id="defaultReal" name="defaultReal" placeholder="Enter the text shown"></div>-->
	<div id="captchaContainer"></div>
	    </div>
<!--	    <input type="text" name="gen_hash_num" id="gen_hash_num"/>-->
          </div>
        </div>
<!--        <div class="checkbox">
        <label><input type="checkbox"> Keep me updated via e-mail</label>
        </div>-->
<!--        <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
        </div>-->
        <h5> By creating an account you agree to our <a href="#">terms of services</a>.</h5>
        <button id="signupbtn" type="submit" class="btn btn-primary">Sign Up</button>
        <button type="button" class="btn btn-default" id="cancelBtn">Cancel</button>
        
	{% csrf_token %}
    </form>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="signincenterbg">
                       <h4 style="line-height:25px">Already have an account?<br/><a href="loginPage">Sign-in</a> here <br/><br/></h4> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="signinrightbg">
                      <a href="#"><img src="{% static 'jcsregistration/images/restyled/images/feature.jpg' %}"></a>
                        
                    </div>
                </div>
              </div>
           </div>

        </div><!--/.container-->
    </section><!--/#products-->
    
<!--FOOTER-->

    <section id="bottom">
        <div class="bottomcontainer">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="widget">
                        <h3>About us</h3>
                        <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3 >Jio Cloud Services</h3>
                        <ul>
                            <li><a href="products.html">Products</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            
                            <li><a href="support.html">Supports</a></li>
                            <li><a href="contactus.html">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Go Social</h3>
                        <ul>
                            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
                            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
                            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_li.jpg' %}" class="social">Linkedin</a></li>
                            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_rss.jpg' %}" class="social">RSS</a></li>
                            
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                
            </div>
        </div>
        
        
        
    </section><!--/#bottom-->


<script src="{% static 'jcsregistration/js/restyled/js/jquery-1.10.2.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/additional-methods.min.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/jquery.form.js' %}"></script>
<script src="{% static 'jcsregistration/js/restyled/js/bootstrap.min.js' %}"></script>
<!--script src="{% static 'jcsregistration/js/restyled/js/main.js' %}"></script-->
<script src="{% static 'jcsregistration/js/restyled/js/main.js' %}"></script>
<!-- CAPTCHA PLUGIN  -->
<!--<script src="{% static 'jcsregistration/js/restyled/js/jquery.realperson.js' %}"></script>-->
<!--<script src="{% static 'jcsregistration/js/restyled/js/jquery.plugin.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'jcsregistration/js/jquery.plugin.js' %}"></script>-->
<!--<script type="text/javascript" src="{% static 'jcsregistration/js/jquery.realperson.js' %}"></script>-->
<script type="text/javascript" src="{% static 'jcsregistration/js/jquery.plugin.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jcsregistration/js/jquery.realperson.min.js' %}"></script>
<!-- CAPTCHA PLUGIN  -->

<!-- Placed at the end of the document so the pages load faster -->

<!-- Modal Pop-Up for Ajax Call -->
<div id="ajaxLoader" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body">
        <div class="progress">
			<div class="progress-bar progress-bar-striped active" 
			     role="progressbar" 
			     aria-valuenow="100" 
		             aria-valuemin="0" 
			     aria-valuemax="100" 
			     style="width:100%">
				<span class="sr-only">100% Complete</span>
			</div>
		</div>
      </div>      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal Pop-Up for Ajax Call -->

</body>
</html>
