<html>
<head>Jio Cloud Services</head>
<title>Jio CLoud Services</title>
<body>
<form id="sendemail" action="../sendEmail" method="POST">
	<button type="submit">SEND EMAIL</button>
	{% csrf_token %}
</form>
</body>
</html>
