<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Jio Cloud Services</title>
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/custom.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jcsregistration/css/restyled/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- TOP MENU / NAVIGATION STARTS -->
<div class="navbar navbar-default" role="navigation">
<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>
<div class="navbar-collapse collapse">

<!-- Left nav -->    
    <div class="navbar-header">				
    <a class="navbar-brand" href="index.html"><img src="{% static 'jcsregistration/images/restyled/images/logo.jpg' %}" alt="logo" style="margin-top:-5px"></a>
    </div>
<!-- Right nav -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Contact us</a></li>
      <li><a href="#">Sign in</a></li>      
    </ul>
  </div><!--/.nav-collapse -->
</div>

<!--SIGN IN-->

<section id="signin" class="transparent-bg">
<div class="signincontainer">
    <div id="signinproduct">
        <div class="row">
                    <div class="col-md-7" style="margin-right:40px">
                            <div> 
                                <h4 style="line-height:25px">Thank you for registering with us.</h4>
				{% if msg == 'SUCCESS' %}
                                <h5 style="line-height:25px"> 
					You are successfully registered with us. Please check your email {{regEmail}} for password to sign in. Please click <a href="{{login_url}}">here</a> to login.
				</h5>
                                {% else %}					
                                <h5 style="line-height:25px"> We were not able to process your request due to an unexpected error. Please try again later.</h5> 
				{% endif %}
                                <form class="signinpadding">
                                <button type="submit" class="btn btn-primary">Login to the Website</button>
                                </form>
                            </div>
                    </div>
        
                    <div class="col-md-4">
                        <div class="signinrightbg">
                        <a href="#"><img src="{% static 'jcsregistration/images/restyled/images/feature.jpg' %}"></a>
                        </div>
                    </div>
        </div>
    </div>

</div><!--/signincontainer-->
</section><!--signin-->
    
<!--FOOTER-->

<section id="bottom">
<div class="bottomcontainer">
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="widget">
            <h3>About us</h3>
            <p>Jio Cloud Services (JCS) is a fast growing business unit within Reliance Jio Infocomm Limited. JCS provides on-demand, highly scalable IT resources and applications via the Internet with pay-as-you-go pricing. JCS provides on-demand storage, compute, networking, and other broad set of services that can be used via the APIs or the JCS Management Console. We are designed for security by default for all our services and applications with no unauthorized entry allowed – physically or logically.</p>
        </div>    
    </div><!--/.col-md-6 col-sm-6-->
    <div class="col-md-3 col-sm-6">
        <div class="widget">
        <h3 >Jio Cloud Services</h3>
            <ul>
            <li><a href="products.html">Products</a></li>
            <li><a href="pricing.html">Pricing</a></li>
            <li><a href="support.html">Supports</a></li>
            <li><a href="contactus.html">Contact us</a></li>
            </ul>
        </div>    
    </div><!--/.col-md-3-->

    <div class="col-md-3 col-sm-6">
        <div class="widget">
            <h3>Go Social</h3>
            <ul>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_fb.jpg' %}" class="social">Facebook</a></li>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_tw.jpg' %}" class="social">Twitter</a></li>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_li.jpg' %}" class="social">Linkedin</a></li>
            <li ><a href="#"><img src="{% static 'jcsregistration/images/restyled/images/icon_rss.jpg' %}" class="social">RSS</a></li>
            </ul>
        </div>    
    </div><!--/.col-md-3-->

</div>
</div>
</section><!--/#bottom-->

</body>
</html>
